<script>
  /**
   * Page de test pour le composant Navbar
   */

  import Navbar from '$lib/components/Navbar.svelte';

  /**
   * @type {String}
   */
  const siteTitle = '';

  /**
   * @type {String}
   */
  const homeUrl = '/styleguide';

  /**
   * @type {{ url: string; }}
   */
  const headerLogo = { url: 'http://localhost:8055/assets/1cc502c0-3bc1-494e-9e1d-696648cc6a29' };


  /** @type {Array<{label: string; url: string; items?: Array<{label: string; url: string; target?: string}>}>} */
  const mainMenuItems = [
    {
      label: 'Item',
      url: '#'
    },
    {
      label: 'Item',
      url: '#',
      items: [
        {
          label: 'Item',
          url: '#',
        },
        {
          label: 'Item',
          url: '#',
        },
        {
          label: 'Item',
          url: '#',
        },
      ]
    },
    {
      label: 'Item',
      url: '#'
    },
  ];

  /**
   * @type {Array<{label: string; url: string; target?: string;}>}
   */
   const topMenuItems = [
    {
      label: 'Item',
      url: '#'
    },
    {
      label: 'Item',
      url: '#'
    },
  ];
</script>

<Navbar
  {headerLogo}
  {siteTitle}
  {homeUrl}
  {mainMenuItems}
  {topMenuItems}
/>
