<script>
  /* Styles globaux */
  import '$lib/styles/reset.css';
  import '$lib/styles/global.css';
  import '$lib/styles/variables.css';
  /* Polices */
  import '$lib/styles/fonts/vg5000.css';
  import '$lib/styles/fonts/tabular.css';
  import '$lib/styles/fonts/merriweather-sans.css';

  import StyleguideMenu from './StyleguideMenu.svelte';
  import StyleguideMenuItem from './StyleguideMenuItem.svelte';

  /** @type {Array<{ label: string; href: string; }>} */
  const sidebarMenuItems = [
    {
      label: 'Barre de navigation',
      href: '/styleguide/navbar'
    },
    {
      label: 'Cartes',
      href: '/styleguide/cards'
    },
    {
      label: 'Grille libre',
      href: '/styleguide/freegrid'
    },
    {
      label: 'Pied de page principal',
      href: '/styleguide/mainfooter'
    },
  ];
</script>

<div class="StyleguideLayout">
  <aside class="StyleguideLayout__sidebar">
    <StyleguideMenu>
      {#each sidebarMenuItems as item}
        <StyleguideMenuItem href={item.href}>
          {item.label}
        </StyleguideMenuItem>
      {/each}
    </StyleguideMenu>
  </aside>

  <main class="StyleguideLayout__main">
    <slot />
  </main>
</div>

<style>
  .StyleguideLayout {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "sidebar"
      "main"
    ;
    height: 100vh;

    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
  }
  @media (min-width: 48rem) {
    .StyleguideLayout {
      grid-template-columns: [sidebar] 20rem [main] 1fr;
      grid-template-areas: "sidebar  main";
    }
  }

  .StyleguideLayout__sidebar {
    border: 0;
    border-block-end: 1px solid var(--accent-sombre);
  }
  @media (min-width: 48rem) {
    .StyleguideLayout__sidebar {
      border-block-end: 0;
      border-inline-end: 1px solid var(--accent-sombre);
    }
  }

  .StyleguideLayout__main {
    overflow: scroll;
  }
</style>
