<script>
  /**
   * Menu latéral pour le guide de style.
   * 
   * Usage:
   * 
   *   <StyleguideMenu>
   *     <StyleguideMenuItem href="">Item</StyleguideMenuItem>
   *     <StyleguideMenuItem href="">Item</StyleguideMenuItem>
   *   </StyleguideMenu>
   */
</script>

<div class="StyleguideMenu">
  <header class="StyleguideMenu__header">
    Guide de style
  </header>

  <div class="StyleguideMenu__body">
    <!-- insérer, dans le corps du composant, des composants enfants StyleguideMenuItems -->
    <slot />
  </div>
</div>

<style>
  .StyleguideMenu__header {
    padding: 2.5rem 1rem;

    font-size: var(--taille-police-h3);
    font-weight: var(--graisse-entetes);
    font-family: var(--police-entetes);
    line-height: var(--interlignage-entetes);
    border-block-end: 1px solid var(--accent-sombre);
  }
</style>
