<script>
  /**
   * Composant enfant pour le menu latéral du guide de style.
   * 
   * Usage:
   * 
   *   <StyleguideMenu>
   *     <StyleguideMenuItem href="">Item</StyleguideMenuItem>
   *     <StyleguideMenuItem href="">Item</StyleguideMenuItem>
   *   </StyleguideMenu>
   */

  /** @type {String} */
  export let href = '';

</script>
<a
  class="StyleguideMenuItem"
  {href}
>
    <slot />
</a>

<style>
  .StyleguideMenuItem {
    padding: 1.125rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: inherit;
    background-color: transparent;
    text-decoration: none;
    font-size: .875rem;
  }
  .StyleguideMenuItem:hover {
    background-color: rgba(255, 255, 255, .1);
  }
</style>