<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import FreeGridSection from '$lib/components/FreeGridSection.svelte';
  import FreeGridBlock from '$lib/components/FreeGridBlock.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import CalendarDays from '$lib/components/icons/CalendarDays.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import Pagination from '$lib/components/Pagination.svelte';
  import ChevronLeft from '$lib/components/icons/ChevronLeft.svelte';
  import ChevronRight from '$lib/components/icons/ChevronRight.svelte';
  import slugsMap from '$lib/slugsMap';
  import { _ } from 'svelte-i18n';
  import { goto } from '$app/navigation';
  
  /** @type {import('./$types').PageServerData} */
  export let data;

  let page = data.page;
  $: page = data.page;

  // console.log({ page, perPage, totalItems })

  /** @type {Number} */
  const totalPages = Math.ceil(data.totalItems / data.perPage);

  /** @type {Array<{ name: string | number; href: string }>} */
  const pages = Array.from(Array(totalPages).keys()).map((item, i) => {
    return {  
      name: Number(i + 1),
      href: `?page=${i + 1}`,
    };
  });

  ///////////////

  function handlePrevious() {
    if (page === 1) {
      return;
    }
    goto(`?page=${page - 1}`);
  }

  function handlNext() {
    if (page > totalPages) {
      return;
    }
    goto(`?page=${page + 1}`);
  }
</script>


<PageHeader
  title="{$_('events')}"
/>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator isCurrent>{$_('events')}</PageBreadcrumbsItem>
  </svelte:fragment>

  <FreeGridSection>

    {#each data.items as event, index}
    <FreeGridBlock
      eyebrow={event.event_type ? $_(`event_page.event_type_list.${event.event_type}`) : null}
      title={event.title}
      imageSrc={event.legacy_image}
      url="/{data.lang}/{slugsMap.get('events')?.find(s => s.lang === data.lang)?.slug}/{new Date(event.date_start).getFullYear()}/{String(new Date(event.date_start).getMonth() + 1).padStart(2, '0')}/{String(new Date(event.date_start).getDay() + 1).padStart(2, '0')}/{event.slug}"
      layout={index === 0 ? 'large' : null}
    >
      <Prose --font-size="var(--font-size-small)">
        {@html event.description}
      </Prose>

      <svelte:fragment slot="footer">
        <CalendarDays size={20} />

        <!-- TODO: plus joli format de date (attention au décalage avec la méthode `toLocaleDateString()`) -->
        <small>{event.date_start}</small>
      </svelte:fragment>
    </FreeGridBlock>
    {/each}

    <svelte:fragment slot="footer">
      <Pagination
        {pages}
        currentPage={page}
        on:previous={handlePrevious}
        on:next={handlNext}
      >
        <svelte:fragment slot="prev">
          <ChevronLeft size={10} />
        </svelte:fragment>
        <svelte:fragment slot="next">
          <ChevronRight size={10} />
        </svelte:fragment>
      </Pagination>
    </svelte:fragment>
  </FreeGridSection>

  <div style="border-block-end: 1px solid var(--accent-sombre)">
    <GraphPaperPattern height="6rem" />
  </div>

  <Prose>
    <pre>
      <code>"page_data":
{JSON.stringify(data, null, 2)}
      </code>
    </pre>
  </Prose>


  <svelte:fragment slot="sidebar">
    <DiagonalPattern height="14rem" />
  </svelte:fragment>
</PageContainer>
