<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import { page } from '$app/stores';
  import { _ } from 'svelte-i18n';

  /** @type {import('./$types').PageServerData} */
  export let data;
</script>

<PageHeader
  title="{$_('error')} {$page.status}"
  introHTML="{$page.error.message || null}"
/>

<PageContainer>
  <div style="border-block-end: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height={'24rem'} />
  </div>

  <svelte:fragment slot="sidebar">
    <PageSidebarBlock>
      <dl>
        <dt>
          Code
        </dt>
        <dd>
          {$page.status}
        </dd>

        <dt>{$_('message')}</dt>
        <dd>
          {$page.error.message}
        </dd>
      </dl>
    </PageSidebarBlock>

    <div>
      <DiagonalPattern height={'4rem'} />
    </div>
  </svelte:fragment>
</PageContainer>
