<script>
  /* Styles globaux */
  import '$lib/styles/reset.css';
  import '$lib/styles/global.css';
  import '$lib/styles/variables.css';
  /* Polices */
  import '$lib/styles/fonts/vg5000.css';
  import '$lib/styles/fonts/tabular.css';
  import '$lib/styles/fonts/merriweather-sans.css';

  import { PUBLIC_DIRECTUS_URL } from '$env/static/public';
  import { page } from '$app/stores';
  import Navbar from '$lib/components/Navbar.svelte';
  import HeadMetadata from '$lib/components/HeadMetadata.svelte';
  import MainFooter from '$lib/components/MainFooter.svelte';
  import { bootstrap } from '$lib/i18n';
  import { locale } from 'svelte-i18n';
  import MainFooterLogoItem from '$lib/components/MainFooterLogoItem.svelte';
  import MainFooterMenuItem from '$lib/components/MainFooterMenuItem.svelte';
  import MainFooterSocialItem from '$lib/components/MainFooterSocialItem.svelte';
    import PlausibleAnalytics from '$lib/components/analytics/PlausibleAnalytics.svelte';

  /**
   * @type {import('./$types').LayoutServerData}
   */
  export let data;

  let {
    lang,
    site_title,
    site_menu_main,
    site_menu_secondary,
    site_header_image_id,
    site_zotero_group_id,
  } = data;

  /* Analytics */
  const {
    plausible_domain,
    plausible_api_host
  } = data;

  /** @type {Array<{label: string; url: string; items?: Array<{label: string; url: string; target?: string}>}>} */
  let mainMenuItems = site_menu_main;

  /** @type {Array<{label: string; url: string;}>}*/
  let topMenuItems = site_menu_secondary || [];

  /** @type {String} */
  let headerLogoUrl = `${PUBLIC_DIRECTUS_URL}/assets/${site_header_image_id}`;

  /** @type {String} */
  let homeUrl = `/${lang}`;

  // on souscrit au store `page`
  // ne pas oublier d'utiliser la balise `{#key}` pour reconstruire le HTML
  // du composant quand la propriété `lang` change
  page.subscribe(p => {
    lang = p.data.lang;
    site_zotero_group_id = p.data.site_zotero_group_id,
    site_title = p.data.site_title;
    mainMenuItems = p.data.site_menu_main;
    topMenuItems = p.data.site_menu_secondary;
    headerLogoUrl = `${PUBLIC_DIRECTUS_URL}/assets/${p.data.site_header_image_id}`;
    homeUrl = `/${lang}`;
  });

  // load i18n
  bootstrap(lang);

  // switch locale on `lang` change
  $: {
    lang;
    locale.set(lang);
  }
</script>

<HeadMetadata />

{#if plausible_domain}
  <PlausibleAnalytics
    domain={plausible_domain}
    apiHost={plausible_api_host}
  />
{/if}

{#key lang}
<Navbar
  {homeUrl}
  siteTitle={site_title}
  headerLogo={{ url: headerLogoUrl }}
  {mainMenuItems}
  {topMenuItems}
/>
{/key}

<div class="BaseLayout">
  <slot />
</div>

{#key lang}
  <MainFooter>
    <svelte:fragment slot="brand">
      <img src="http://localhost:8055/assets/1cc502c0-3bc1-494e-9e1d-696648cc6a29" alt="" />
    </svelte:fragment>

    <svelte:fragment slot="desc">
      {@html data.site_long_description}
    </svelte:fragment>

    <svelte:fragment slot="menu">
      {#if data.site_menu_footer}
      {#each data?.site_menu_footer as item}
      <MainFooterMenuItem
        href={item.url}
      >{item.label}</MainFooterMenuItem>
      {/each}
      {/if}
    </svelte:fragment>

    <svelte:fragment slot="social-links">
      {#if data.site_social_accounts}
      {#each data?.site_social_accounts as item}
        <MainFooterSocialItem
          href={item.url}
          icon={item.icon}
        >{item.label}</MainFooterSocialItem>
      {/each}
      {/if}
    </svelte:fragment>

    <svelte:fragment slot="logo-section">
      {#if data?.site_footer_logos}
      {#each data?.site_footer_logos as logo}
      <MainFooterLogoItem
        src="{PUBLIC_DIRECTUS_URL}/assets/{logo.directus_files_id}"
        alt=""
      />
      {/each}
      {/if}
    </svelte:fragment>

    <svelte:fragment slot="sub-section">
      {@html data.site_rights}
    </svelte:fragment>
  </MainFooter>
{/key}

<style>
  .BaseLayout {
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
  }
</style>
