<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import { _ } from 'svelte-i18n';
  import FreeGridSection from '$lib/components/FreeGridSection.svelte';
  import FreeGridBlock from '$lib/components/FreeGridBlock.svelte';
  import ArrowTopRightSquare from '$lib/components/icons/ArrowTopRightSquare.svelte';
  import CalendarDays from '$lib/components/icons/CalendarDays.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import slugsMap from '$lib/slugsMap';
  import Button from '$lib/components/Button.svelte';
  import WideListSection from '$lib/components/WideListSection.svelte';
  import WideListItem from '$lib/components/WideListItem.svelte';
  import ChevronDoubleRight from '$lib/components/icons/ChevronDoubleRight.svelte';

  /** @type {import('./$types').PageServerData} */
  export let data;
</script>

<PageHeader
  title="{data.site_title}"
  introHTML="{data.subtitle || null}"
/>

<PageContainer>
  <FreeGridSection>
    <span slot="header">{$_('next_events')}</span>

    {#each data.latestEvents as event, index}
    <FreeGridBlock
      eyebrow={event.event_type ? $_(`event_page.event_type_list.${event.event_type}`) : null}
      title={event.title}
      imageSrc={event.legacy_image}
      url="/{data.lang}/{slugsMap.get('events')?.find(s => s.lang === data.lang)?.slug}/{new Date(event.date_start).getFullYear()}/{String(new Date(event.date_start).getMonth() + 1).padStart(2, '0')}/{String(new Date(event.date_start).getDay() + 1).padStart(2, '0')}/{event.slug}"
      layout={index === 0 ? 'large' : null}
    >
      <Prose --font-size="var(--font-size-small)">
        {@html event.description}
      </Prose>

      <svelte:fragment slot="footer">
        <CalendarDays size={20} />

        <!-- TODO: plus joli format de date (attention au décalage avec la méthode `toLocaleDateString()`) -->
        <small>{event.date_start}</small>
      </svelte:fragment>
    </FreeGridBlock>
    {/each}

    <svelte:fragment slot="footer">
      <Button
        role="secondary"
        variant="outline"
        href="/{data.lang}/{slugsMap.get('events')?.find(i => i.lang === data.lang)?.slug}"
      >
        {$_('see_all_events')}

        <svelte:fragment slot="after">
          <ChevronDoubleRight size={12} />
        </svelte:fragment>
      </Button>
    </svelte:fragment>
  </FreeGridSection>

  <div style="border-block-end: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height={'9rem'} />
  </div>

  <WideListSection>
    <span slot="header">{$_('homepage.our_research_fields')}</span>

    {#each data.featuredResearchFields as featuredResearchField}
      {@const url = `/${data.lang}/${slugsMap.get('researchFields')?.find(i => i.lang === data.lang)?.slug}/${featuredResearchField.slug}`}

      <WideListItem
        eyebrow="Champ de recherche"
        title="{featuredResearchField.title}"
        {url}
        imageSrc="{featuredResearchField.legacy_image}"
      >
        <Prose --font-size="var(--font-size-xsmall)">
          {@html featuredResearchField.content_html || '...'}
        </Prose>

        <svelte:fragment slot="footer">
          <Button
            variant="text"
            role="secondary"
            href={url}
          >
          {$_('see_more')}
          <svelte:fragment slot="after">
            <ChevronDoubleRight size={12} />
          </svelte:fragment>
        </Button>
        </svelte:fragment>
      </WideListItem>
    {/each}

  </WideListSection>

  <Prose>
<pre><code>"page_data": {JSON.stringify(data, null, 2)}</code></pre>
  </Prose>

  <div>
    <GraphPaperPattern height={'25rem'} />
  </div>

  <svelte:fragment slot="sidebar">
    <PageSidebarBlock>
      <dl>
        {#if data.site_description}
          <dt>{$_('description')}</dt>
          <dd>{data.site_description}</dd>
        {/if}

        <dt>Membres actifs</dt>
        <dd>20</dd>

        <dt>Projets en cours</dt>
        <dd>6</dd>

        <dt>Événements</dt>
        <dd>395</dd>

        <!-- TMP: montrer les données de la page -->
        <dt>{$_('page_data')}</dt>
        <dd>
          <details>
            <summary>{$_('show_hide')}</summary>
            <pre><code>{JSON.stringify(data, null, 2)}</code></pre>
        </dd>
      </dl>

    </PageSidebarBlock>

    <PageSidebarBlock>
      <!-- Section contact / pour nous joindre -->
      <dl>
        {#if data.site_email}
          <dt>{$_('email')}</dt>
          <dd>
            <a href="mailto:{data.site_email}">{data.site_email}</a>
          </dd>
        {/if}

        {#if data.site_phone}
          <dt>{$_('phone')}</dt>
          <dd>
            <a href="tel:{data.site_phone}">{data.site_phone}</a>
          </dd>
        {/if}

        {#if data.site_address_html}
          <dt>{$_('address')}</dt>
          <dd>
            <address>
              {@html data.site_address_html}
            </address>
          </dd>
        {/if}
      </dl>
    </PageSidebarBlock>

    <div style="border-block-end: 1px solid var(--accent-sombre)">
      <DiagonalPattern height={120} />
    </div>

    <PageSidebarBlock>
      <!-- Comptes tiers -->
      <dl>
        {#each data.site_social_accounts as account}
          <dt>
            # {account.label}
          </dt>
          <dd>
            <a
              href="{account.url}"
              target="_blank" rel="noreferrer"
            >
            <ArrowTopRightSquare size={20} />
          </a>
          </dd>
        {/each}
      </dl>
    </PageSidebarBlock>
  </svelte:fragment>
</PageContainer>
