<script>
  import Card from '$lib/components/Card.svelte';
  import CardSection from '$lib/components/CardSection.svelte';
  import Button from '$lib/components/Button.svelte';
  import ArrowUpRight from '$lib/components/icons/ArrowUpRight.svelte';
</script>

<CardSection>
  <svelte:fragment slot="header">
    <div>Cartes</div>

    
    <Button href="#" variant="text" role="primary">
      <span slot="before" aria-hidden="true">&gt;&gt;&gt;</span>
      Bouton
    </Button>
  </svelte:fragment>

  <Card>
    <span slot="header">/* Livre */</span>

    Cum eleifend condimentum a adipiscing parturient phasellus eu ullamcorper leo mi rhoncus.

    <svelte:fragment slot="footer">
      <Button href="#" variant="text" size="normal" role="secondary">Lire</Button>
    </svelte:fragment>
  </Card>

  <Card>
    <span slot="header">/* Livre */</span>

    Cum eleifend condimentum a adipiscing parturient phasellus eu ullamcorper leo mi rhoncus.

    <svelte:fragment slot="footer">
      <Button href="#" variant="text" size="normal" role="secondary">Lire</Button>
    </svelte:fragment>
  </Card>

  <Card>
    <span slot="header">/* Événement */</span>

    Integer diam a dolor condimentum consectetur condimentum nascetur justo erat parturient parturient habitant parturient euismod a integer suspendisse suspendisse imperdiet mi inceptos ridiculus a. Adipiscing erat consequat fermentum vitae augue vivamus suspendisse vestibulum.

    <svelte:fragment slot="footer">
      <Button href="#" variant="text" size="normal" role="secondary">
        En savoir plus
      <span slot="after"><ArrowUpRight size={13}/></span>
      </Button>
    </svelte:fragment>
  </Card>


  <Card>
    <span slot="header">/* Article */</span>

    Cum eleifend condimentum a adipiscing parturient phasellus eu ullamcorper leo mi rhoncus.

    <svelte:fragment slot="footer">
      <Button href="#" variant="text" size="normal" role="secondary">Lire l'article</Button>
    </svelte:fragment>
  </Card>
</CardSection>