<script>
  import IconBase from './Icon.svelte';

  const title = 'Archive';
  export let size = 24;

</script>

<IconBase {title} {size}>
  <path d="m22.667 22.884v1.1163h-21.333l.000227-1.1163zm-.84211-1.6744v1.3953h-19.649v-1.3953zm-17.591-15.07.23422.11769.11722 1.8819.11722 3.058v2.9409l-.11722 3.666-.0195 2.4697-.33194.09834h-1.1716l-.35144-.09834-.1365-2.4697-.11745-3.6464v-2.9407l.11745-3.0778.10714-1.8921.24431-.10756zm16.842 0 .23449.11769.11702 1.8819.11702 3.058v2.9409l-.11702 3.666-.01928 2.4697-.33224.09834h-1.1716l-.35152-.09834-.13697-2.4697-.11702-3.6464v-2.9407l.11702-3.0778.10761-1.8921.24413-.10756zm-11.79 0 .23424.11769.11724 1.8819.11723 3.058v2.9409l-.11723 3.666-.01928 2.4697-.3322.09834h-1.1717l-.3517-.09834-.13651-2.4697-.11701-3.6464v-2.9407l.11701-3.0778.1076-1.8921.24388-.10756zm6.4561 0 .23424.11769.11724 1.8819.11723 3.058v2.9409l-.11723 3.666-.01928 2.4697-.3322.09834h-1.1717l-.35148-.09834-.13674-2.4697-.11701-3.6464v-2.9407l.11701-3.0778.1076-1.8921.24411-.10756zm6.0827-2.5116v1.9535h-19.649v-1.9535zm-10.027-3.6279 10.307 2.3467-.4132.72312h-19.741l-.61754-.58644z" fill-rule="evenodd" fill="currentColor"/>
</IconBase>
