<script>
  import IconBase from './Icon.svelte';

  const title = 'Chevron Up';
  export let size = 24;

</script>

<IconBase {title} {size}>

  <path d="M5.22 8.72a.75.75 0 0 1 1.06 0L12 14.44l5.72-5.72a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-6.25 6.25a.75.75 0 0 1-1.06 0L5.22 9.78a.75.75 0 0 1 0-1.06Z"></path>

</IconBase>
