<script>
  /** @type {string | null} */
  export let title = null;
  
  /** @type {number} */
  export let size = 24;

  /**
   * all svg have the same viewbox (24x24)
   * @type {string}
   */
  export let viewBox = '0 0 24 24';

  /** @type {number} */
  let width;
  /** @type {number} */
  let height;
  $: width = size;
  $: height = size;
</script>

<svg
  class="Icon"
  xmlns="http://www.w3.org/2000/svg"
  style="{size ? `--Icon-size: ${size}` : null}"
  {width}
  {height}
  {viewBox}
>
  {#if title}
    <title>{title}</title>
  {/if}
  <slot />
</svg>

<style>
  .Icon {
    --Icon-size: 24px;

    font-size: inherit;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
    width: var(--Icon-size);
    height: auto;
    max-height: 100%;
    /* avoid 'title' bubble overlays */
    pointer-events: none;
  }
</style>
