<script>
  import IconBase from './Icon.svelte';

  const title = 'U de M';
  export let size = 24;

</script>

<IconBase {title} {size}>
  <path class="innerLogo svelte-ks6yle" d="m10.03 18.226v5.5641l.013347.21022-.21356-.013347h-2.6995l-.21356.013347.013347-.21022v-5.0753c0-1.4799-.85089-2.1856-1.902-2.1856-1.0511 0-1.902.7074-1.902 2.1856v5.0753l.013347.21022-.21356-.013347h-2.6995l-.21356.013347.013347-.21022v-5.0753c0-2.7629 2.239-5.0019 5.0019-5.0019 1.1762 0 2.254.40709 3.1082 1.0861l.060063.18352.060063-.17852c.086757-.0951.17852-.18686.27195-.27362l.18352-.041711-.17018-.078415c-.73743-.82252-1.1896-1.9087-1.1896-3.0999v-11.1l-.013347-.21022.21356.013347h2.6995l.21356-.013347-.013348.21022v11.1c0 1.2046.69406 1.7785 1.5483 1.7785s1.5483-.5756 1.5483-1.7785v-11.1l-.013348-.21022.21356.013347h2.6995l.21356-.013347-.013348.21022v11.1c0 1.1929-.45214 2.2774-1.1896 3.0999l-.17018.07841.18352.04171c.09343.08842.18519.18019.27195.27362l.06006.17852.06006-.18352c.85422-.67904 1.9337-1.0861 3.1082-1.0861 2.7629 0 5.0019 2.239 5.0019 5.0019v5.0753l.013352.21022-.21356-.013347h-2.6995l-.21356.013347.01335-.21022v-5.0753c0-1.4799-.85256-2.1856-1.902-2.1856-1.0511 0-1.902.7074-1.902 2.1856v5.0753l.013344.21022-.21356-.013347h-2.6995l-.21356.013347.01335-.21022v-5.5641c0-1.5333-.88259-2.2657-1.9704-2.2657-1.0878.0017-1.9704.7341-1.9704 2.2657z" />
</IconBase>
