<script>
  import IconBase from './Icon.svelte';

  const title = 'Zotero';
  export let size = 24;

</script>

<IconBase {title} {size}>
  <path fill="currentColor" d="m21.232 2.4603-14.053 18.463h14.564v3.0769h-19.487v-2.4628l14.05-18.462h-13.332v-3.0757h18.258z"/>
</IconBase>
