<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import slugsMap from '$lib/slugsMap';
  import WideListSection from '$lib/components/WideListSection.svelte';
  import WideListItem from '$lib/components/WideListItem.svelte';
  import { _ } from 'svelte-i18n';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import getAssetUrl from '$lib/directusAssetHelper';
  
  /** @type {import('./$types').PageServerData} */
  export let data;
</script>


<PageHeader
  title="{data.title || $_('team')}"
/>

<PageContainer>
  <!-- Membres actifs -->
  <WideListSection>
    <span slot="header">{$_('teamIndex.active_members')}</span>

    {#each data.members as member}
      {@const url = `/${data.lang}/${slugsMap.get('persons')?.find(i => i.lang === data.lang)?.slug}/${member.slug}`}

      <WideListItem
        title="{member.first_name} {member.last_name}"
        {url}
        imageSrc="{member?.image_id ? getAssetUrl(member.image_id) : null}"
      >
        <Prose --font-size="var(--font-size-xsmall)">
          <dl class="TeamIndex__role-list">
            {#if member.occupation_status}
              <dt>{$_('teamIndex.occupation_status')}</dt>
              <dd class="TeamIndex__role-item">{member.occupation_status}</dd>
            {/if}

            {#if member.team_role}
              <dt>{$_('teamIndex.role')}</dt>
              <dd class="TeamIndex__role-item">{member.team_role}</dd>
            {/if}
          </dl>
        </Prose>
      </WideListItem>
    {/each}
  </WideListSection>

  <div>
    <GraphPaperPattern height="9rem" />
  </div>

  <!-- Alumni -->
  <WideListSection>
    <span slot="header">{$_('alumni')}</span>

    {#each data.alumni as alumnus}
      {@const url = `/${data.lang}/${slugsMap.get('persons')?.find(i => i.lang === data.lang)?.slug}/${alumnus.slug}`}

      <WideListItem
        title="{alumnus.first_name} {alumnus.last_name}"
        {url}
        imageSrc="{alumnus?.image_id ? getAssetUrl(alumnus.image_id) : null}"
      >
        <Prose --font-size="var(--font-size-xsmall)">
          <dl class="TeamIndex__role-list">
            {#if alumnus.occupation_status}
              <dt>{$_('teamIndex.occupation_status')}</dt>
              <dd class="TeamIndex__role-item">{alumnus.occupation_status}</dd>
            {/if}

            {#if alumnus.team_role}
              <dt>{$_('teamIndex.role')}</dt>
              <dd class="TeamIndex__role-item">{alumnus.team_role}</dd>
            {/if}
          </dl>
        </Prose>
      </WideListItem>
    {/each}
  </WideListSection>

  <Prose>
<pre>
  <code>
{JSON.stringify(data, null, 2)}
  </code>
</pre>
  </Prose>

<svelte:fragment slot="sidebar">

  <PageSidebarBlock>
    <dl>
      <dt>members_total</dt>
      <dd>{data.members.length}</dd>

      <dt>alumni_total</dt>
      <dd>{data.alumni.length}</dd>
    </dl>

  </PageSidebarBlock>
  <DiagonalPattern height="12rem" />
</svelte:fragment>
</PageContainer>

<style>
  .TeamIndex__role-list {
    margin: 0;
    padding: 0;

    /* display: grid; */
    /* grid-template-columns: max-content auto; */
    /* x: espacement relatif (em) */
    gap: .25rem .67em;

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
  }
  .TeamIndex__role-list > dt {
    margin: 0;
    padding: 0;

    grid-column-start: 1;

    /* text-align: end; */
    font-weight: var(--font-weight-details-bold);
  }
  .TeamIndex__role-list > dt:not(:first-child) {
    margin-block-start: .75rem;
  }

  .TeamIndex__role-list > dd {
    margin: 0;
    padding: 0;

    grid-column-start: 2;
  }

  .TeamIndex__role-item {
    margin: 0;
    padding: 0;
  }
</style>
