<script>
  /**
   * Plausible Analytics Tracker
   * Permet d'activer les événements de suivi Plausible dans SvelteKit.
   * 
   * Usage:
   * 
   *   <PlausibleAnalytics domain="domain.example.com" />
   * 
   * Si l'instance de Plausible est hébergée ailleurs que sur plausible.io,
   * il faut inclure l'option `apiHost`:
   * 
   *   <PlausibleAnalytics
   *     domain="domain.example.com"
   *     apiHost="plausible.example.com"
   *   />
   */

  import { afterNavigate } from '$app/navigation';
  import { onMount } from 'svelte';
  import Plausible from 'plausible-tracker';

  /**
   * @type {String|null} Domaine du site plausible, ex. "domain.example.com"
   */
  export let domain = null;
  /**
   * @type {String|null} Domaine du site plausible, ex. "domain.example.com"
   */
  export let apiHost = null;

  /**
   * @type {{ trackPageview: function; enableAutoPageviews: function; enableAutoOutboundTracking: function }|null} Instance Plausible Tracker
   * @see https://github.com/plausible/plausible-tracker
   */
  let plausible = null;

  /**
   * Activation de Plausible (si un domaine est fourni).
   */
  onMount(() => {
    if (domain) {
      plausible = Plausible({
        domain,
        apiHost
      });

      // La méthode `enableAutoPageviews()` ne fonctionne pas avec sveltekit,
      // on déclenche plutôt une pageview sur la navigation (voir plus bas).
      plausible?.trackPageview();
    }
  });

  /**
   * Activation des événements Plausible sur chaque page
   * (via la méthode SvelteKit).
   */
  afterNavigate(() => {
    if (plausible) {
      plausible.trackPageview();
    }
  });
</script>
