<script>
  /**
   * Umami Analytics
   * 
   * Provide a `umamiWebsiteId` and an optional `umamiScriptUrl` if self-hosting.
   * 
   * @prop {string} umamiWebsiteId
   * @prop {string} [umamiScriptUrl] http://umami.example.com/script.js
   * 
   * Usage:
   * 
   *   <UmamiAnalytics
   *     umamiWebsiteId="a1a2b2-c3c4d..."
   *   />
   */

  /** @type {string} Umami Site ID (mandatory) */
  export let umamiWebsiteId;

  /** @type {string | null | undefined} Umami Script URL, if self-hosting (optional) */
  export let umamiScriptUrl;

  /** @type {string} The actual script source for Umami (after conditional check) */
  const umamiScriptSrc = umamiScriptUrl?.length ? String(umamiScriptUrl) : 'https://cloud.umami.is/script.js';
</script>

<svelte:head>
  {#if umamiWebsiteId}
    <script
      src="{umamiScriptSrc}"
      data-website-id="{umamiWebsiteId}"
      defer
    ></script>
  {/if}
</svelte:head>
