<script>
  /**
   * Bloc pour afficher une alerte.
   * 
   * Usage:
   * 
   *   <AlertBlock variant="Avertissement">
   *     <p>Message à afficher</p>
   *   </AlertBlock>
   */

  /** @type {string | null} */
  export let header_text = null;

  /** @type {string | null} */
  export let content_html = '';

  /**
   * Info|Neutre|Avertissement|Danger
   * Voir CMS pour options disponibles.
   * @type {string | null}
   */
  export let variant = null;
</script>

<div
  class="AlertBlock"
  class:AlertBlock--info={variant === 'Info'}
  class:AlertBlock--neutral={variant === 'Neutre'}
  class:AlertBlock--warning={variant === 'Avertissement'}
  class:AlertBlock--danger={variant === 'Danger'}
>
  {#if header_text}
    <div class="AlertBlock__heading">
      {header_text}
    </div>
  {/if}

  <div class="AlertBlock__body">
    {@html content_html || ''}
  </div>
</div>

<style>
  .AlertBlock {
    --AlertBlock-background-color: var(--couleur-fond-profond);
    --AlertBlock-text-color: inherit;
    --AlertBlock-heading-color: inherit;
    --AlertBlock-border-color: var(--accent-sombre);

    margin-inline: 0;
    margin-block: 2rem;
    padding-block: 1.25rem;
    padding-inline: var(--article-inline-margin);

    background-color: var(--AlertBlock-background-color);
    color: var(--AlertBlock-text-color);
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-body-bold);
    /* border-block-start: 1px solid var(--AlertBlock-border-color); */
  }
  .AlertBlock--info {
    --AlertBlock-background-color: var(--azur-aoste-300);
    --AlertBlock-text-color: var(--azur-aoste-800);
  }
  .AlertBlock--neutral {
    --AlertBlock-background-color: var(--accent-sombre);
  --AlertBlock-text-color: var(--marine-100);
  }
  .AlertBlock--warning {
    --AlertBlock-background-color: var(--mangue-400);
    --AlertBlock-text-color: var(--mangue-950);
  }
  .AlertBlock--danger {
    --AlertBlock-background-color: var(--cerise-200);
    --AlertBlock-text-color: var(--cerise-800);
  }

  .AlertBlock__heading {
    margin-block-end: 1rem;

    font-family: inherit;
    font-size: var(--font-size-xsmall);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-wide);
    line-height: var(--line-height-headings);
    color: var(--AlertBlock-heading-color);
    opacity: .75;
  }

  .AlertBlock__body :global(> p) {
    margin: 0;
    font: inherit;
  }

</style>
