<script>
  /**
   * Bloc figure.
   * 
   * Ce bloc suppose l'hébergement de l'image via l'instance Directus (CMS),
   * et attend donc uniquement l'ID de l'image.
   * L'URL est construite dynamiquement dans ce composant.
   * 
   * Usage:
   * 
   *   <FigureBlock
   *     image_id="1a1a1a-2b2b2b-3c3c3c-..."
   *     caption_html="<p>Texte de la légende, avec balises si on veut.</p>"
   *   />
   */
import getAssetUrl from '$lib/directusAssetHelper';

  /** @type {string | null} */
  export let image_id = null;

  /** @type {string | null} */
  export let caption_html = null;
</script>

<figure class="FigureBlock">
  {#if image_id}
    <img
      class="FigureBlock__image"
      src="{getAssetUrl(image_id)}"
      alt=""
    />
  {/if}
  
  {#if caption_html}
    <figcaption class="FigureBlock__caption">
      {@html caption_html}
    </figcaption>
  {/if}
</figure>

<style>
  .FigureBlock {
    margin-block: 2rem;
    margin-inline: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .FigureBlock__image {
    display: block;
    width: 100%;
    height: auto;
  }

  .FigureBlock__caption {
    padding-inline: var(--article-inline-margin, .75rem); /* marge horizontale du contenu */
    align-self: stretch; /* prendre toute la largeur horizontale */

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    line-height: var(--line-height-body);
    font-size: var(--font-size-xsmall);
    color: var(--neutre);
  }
  .FigureBlock__caption :global(p) {
    margin: 0;
    font: inherit;
  }
  .FigureBlock__caption :global(strong),
  .FigureBlock__caption :global(b) {
    font-weight: var(--font-weight-details-bold);
  }
  .FigureBlock__caption :global(a) {
    color: var(--couleur-ancres);
    text-decoration: underline;
  }
  .FigureBlock__caption :global(a) {
    text-decoration-color: transparent;
  }
</style>
