<script>
  /**
   * Bloc de texte enrichi.
   * @uses '../Prose.svelte'
   */
  import Prose from '../Prose.svelte';

  /** @type {string | null} */
  export let content_html = '';
</script>

<div class="RichtextBlock">
  <Prose>
    {@html content_html || ''}

    <!-- Slot par défaut, si on veut utiliser BlocksZone avec les balises ouvrantes/fermantes -->
    <slot />
  </Prose>
</div>

<style>
  .RichtextBlock {
    margin-block: var(--article-inline-margin);
    margin-inline: var(--article-inline-margin);
  }
</style>
