/**
 * À moins de rares exceptions, ce fichier ne devrait contenir aucune règle.
 * Chaque règle ajoutée devrait être justifiée (expliquée) en commentaire.
 */

 /* Couleur de sélection */
/* ::selection {} */

/* Typo et sa graisse par défaut */
html {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
}
