:root {
  /* Couleurs */
  /* Marine (du fond marin vers la surface) */
  /* https://www.tailwindshades.com/#color=241.24999999999997%2C70.58823529411765%2C13.333333333333334&step-up=10&step-down=7&hue-shift=-44&name=violet&base-stop=8&v=1&overrides=e30%3D */
  --marine-50:  #DAD9F8;
  --marine-100: #C0BFF4;
  --marine-200: #8D8BEB;
  --marine-300: #5A57E2;
  --marine-400: #2925D7;
  --marine-500: #1F1CA2;
  --marine-600: #15136E;
  --marine-700: #0B0A3A; /* base */
  --marine-800: #080729;
  --marine-900: #040417;
  --marine-rgb: rgb (11, 10, 58);

  /* Couleur neutre, qui interagit bien avec marine */
  --neutre: #6E6DB3;
  --neutre-50:  #D7D7EA;
  --neutre-100: #C8C8E2;
  --neutre-200: #AAA9D2;
  --neutre-300: #8C8BC3;
  --neutre-400: #6E6DB3; /* base */
  --neutre-500: #52519C;
  --neutre-600: #41407A;
  --neutre-700: #2F2E59;
  --neutre-800: #1D1D37;
  --neutre-900: #0B0B16;
  --neutre-950: #030305;

  --accent-sombre: #464582;

  /* Gris d'athènes (nuancier de gris) */
  --gris:     #EDEEF2; /* base */
  --gris-50:  #F9F9FA;
  --gris-100: #EDEEF2; /* base */
  --gris-200: #CDD0DA;
  --gris-300: #ADB1C2;
  --gris-400: #8C93AA;
  --gris-500: #6C7592;
  --gris-600: #545B72;
  --gris-700: #3D4152;
  --gris-800: #252732;
  --gris-900: #0D0E11;
  --gris-950: #010101;

  /* mer de montagne */
  --mer-de-montagne-50:  #BEEDFD;
  --mer-de-montagne-100: #AAE8FC;
  --mer-de-montagne-200: #83DDFB;
  --mer-de-montagne-300: #5BD2F9;
  --mer-de-montagne-400: #34C7F8; /* base */
  --mer-de-montagne-500: #08B3EC;
  --mer-de-montagne-600: #068AB6;
  --mer-de-montagne-700: #04617F;
  --mer-de-montagne-800: #033749;
  --mer-de-montagne-900: #010E13;

  /* azur d’aoste */
  --azur-aoste-50:  #BCDCF8;
  --azur-aoste-100: #A7D1F5;
  --azur-aoste-200: #7EBBF1;
  --azur-aoste-300: #54A6EC;
  --azur-aoste-400: #2B90E8; /* base */
  --azur-aoste-500: #1676CA;
  --azur-aoste-600: #115B9C;
  --azur-aoste-700: #0C406E;
  --azur-aoste-800: #072540;
  --azur-aoste-900: #020B12;
  
  /* vert pâle */
  --vert-50:  #DCFAE4;
  --vert-100: #C8F7D5;
  --vert-200: #9FF2B6;
  --vert-300: #77EC97; /* base */
  --vert-400: #41E46E;
  --vert-500: #1DCC4D;
  --vert-600: #159638;
  --vert-700: #0E6124;
  --vert-800: #062B10;
  --vert-900: #000000;

  /* mousse */
  --mousse-50:  #76EFAA;
  --mousse-100: #61EC9D;
  --mousse-200: #38E784;
  --mousse-300: #1AD86C;
  --mousse-400: #15AF58;
  --mousse-500: #108643; /* base */
  --mousse-600: #0B5D2E;
  --mousse-700: #06341A;
  --mousse-800: #010B05;
  --mousse-900: #000000;

  /* peche */
  --peche-50:  #FEFAFA;
  --peche-100: #FDF1F1;
  --peche-200: #FBDFDF;
  --peche-300: #F8CECD; /* base */
  --peche-400: #F2AAA5;
  --peche-500: #ED887C;
  --peche-600: #E76954;
  --peche-700: #E14D2C;
  --peche-800: #C4411B;
  --peche-900: #9C3916;

  /* framboise */
  --framboise-50:  #FFFDFD;
  --framboise-100: #FCEEEF;
  --framboise-200: #F6D0D2;
  --framboise-300: #F0B2B5;
  --framboise-400: #EB9499;
  --framboise-500: #E5767C; /* base */
  --framboise-600: #DE4F57;
  --framboise-700: #D62932;
  --framboise-800: #B02129;
  --framboise-900: #891A20;

  /* cerise */
  --cerise-50:  #EB9498;
  --cerise-100: #E88287;
  --cerise-200: #E16066;
  --cerise-300: #DB3E45;
  --cerise-400: #CA262D;
  --cerise-500: #A71F26;
  --cerise-600: #85191E; /* base */
  --cerise-700: #5E1215;
  --cerise-800: #380A0D;
  --cerise-900: #110304;

  /* Mangue  */    
  --mangue-50: #FEF2DE;
  --mangue-100: #FEEACA;
  --mangue-200: #FDDBA2;
  --mangue-300: #FDCB7A;
  --mangue-400: #FCBB52; /* base */
  --mangue-500: #FBA51B;
  --mangue-600: #DA8804;
  --mangue-700: #A36603;
  --mangue-800: #6C4302;
  --mangue-900: #352101;
  --mangue-950: #191000;
  
  /* Palette claire */
  --peche: #F8CECD;
  --mer-de-montagne: #34C7F8;
  --mandarine: #FF9865;
  --pensee: #EA92E0;
  --vert: #77EC97;
  --mangue: #FCBB52;
  --framboise: #E5767C;
  /* Palette sombre */
  --bois-rose-1: #D0999C;
  --bois-rose-2: #BB696F;
  --bois-rose: var(--bois-rose-2);
  --azur-aoste: #2B90E8;
  --orange: #FB691B;
  --violette: #871A7A;
  --mousse: #108643;
  --dijon: #855F19;
  --cerise: #85191E;

  /* Polices */
  --font-sans: 'Merriweather Sans', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-mono: 'Tabular', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --font-body: var(--font-sans);
  --font-details: var(--font-mono);
  --font-headings: 'VG5000', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-weight-body: 400;
  --font-weight-body-bold: 700;
  --font-weight-details: 400;
  --font-weight-details-bold: 600;
  --font-weight-headings: 700;
  --line-height-body: 1.375;
  --line-height-headings: 1.15;
  --font-weight-mono: 400;

  /* Échelle typographique */
  --font-size-4xl: 4.5rem; /* 72px */
  --font-size-3xl: 3.5rem; /* 56px */
  --font-size-2xl: 3rem; /* 48px */
  --font-size-xl: 2.25rem; /* 36px */
  --font-size-large: 1.75rem; /* 28px */
  --font-size-medium: 1.5rem; /* 24px */
  --font-size-body-2: 1.375rem; /* 22px */
  --font-size-body-1: 1.125rem; /* 18px */
  --font-size-base: 1rem; /* 16px (par défaut) */
  --font-size-small: 0.9375rem; /* 14px */
  --font-size-xsmall: 0.8125rem; /* 13px */
  --font-size-mini: 0.6875rem; /* 11px */

  /* Mappage des tailles h1 à -h6 */
  --font-size-h1: var(--font-size-2xl);
  --font-size-h2: var(--font-size-xl);
  --font-size-h3: var(--font-size-large);
  --font-size-h4: var(--font-size-medium);
  --font-size-h5: var(--font-size-corps-2);
  --font-size-h6: var(--font-size-corps-1);

  /* Interlettrage */
  --letter-spacing-tighter: -0.025em;
  --letter-spacing-tight: -0.12em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.035em;
  --letter-spacing-wider: 0.05em;

  /* Réglages généraux */
  --couleur-texte: var(--neutre-100);
  --couleur-fond: var(--marine-800);
  --couleur-fond-profond: var(--marine-900);
  --couleur-ancres: var(--vert-400);
  --couleur-ancres-clic: var(--vert-600);
  --couleur-fond-subrillance: var(--mangue);
  --couleur-texte-surbrillance: #000;
  --couleur-fond-code: var(--couleur-fond-profond);
  --couleur-texte-code: var(--azur-aoste-300);

  /* Objets et dimensionnement */
  --container-max-width: 80rem;
  --article-inline-margin: .75rem;
}

/* Le mappage des tailles progresse grâce aux @media queries,
   toujours selon l’échelle définie plus haut */
@media (min-width: 60rem) {
  :root {
    --article-inline-margin: 1.5rem;
  }
}