<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import BlocksZone from '$lib/components/BlocksZone.svelte';
  import RichtextBlock from '$lib/components/blocks/RichtextBlock.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import slugsMap from '$lib/slugsMap';
  import { _ } from 'svelte-i18n';

  /** @type {import('./$types').PageServerData} */
  export let data;

  $: ({ title } = data);

  /**
   * Paramètres de la requête auprès d'api.zotero.org
   * @type {string}
   */
  const zoteroApiRequestParams = `v=3&sort=date&direction=desc&include=data,bib,citation&style=etudes-francaises&locale=fr&linkwrap=1&limit=100`;

  //////////////

  /**
   * Fonction pour élaguer les items Zotero qu'on ne veut pas montrer
   * (notes, pièces jointes, caches, etc.)
   * @param {{ data: { itemType: string; } }} item
   */
  function removeZoteroItems(item) {
    /**
     * Types d'item Zotero
     * @type {Array<string>}
     */
    const typesToRemove = [
      'attachment',
      'note'
    ];

    // si le `type` de l'item ne se trouve pas dans la liste,
    // alors c'est bon, on le garde
    return typesToRemove.indexOf(String(item.data.itemType)) === -1;
  }

</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<PageHeader
  title="{title}"
/>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator href="/{data.lang}/{slugsMap.get('teamIndex')?.find(i => i.lang === data.lang)?.slug}">{$_('team')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator href="{data.slug}" isCurrent>{title}</PageBreadcrumbsItem>
  </svelte:fragment>

  <!-- Le corps de la page est composé de blocs modulaires -->
  <BlocksZone>
    <RichtextBlock content_html={data.content_html} />
  </BlocksZone>

  <!-- Références bibliographiques -->
  {#if data.zotero_collections}
    <BlocksZone>
      <RichtextBlock>
        <hr>
        
        <h2>{$_('bibliographc_references')}</h2>

        {#each data.zotero_collections as collection}
          <h3>{collection.label}</h3>

          <dl class="dl-bibliographie">
            {#await fetch(`https://api.zotero.org/groups/${collection.zotero_group_id || data.site_zotero_group_id}/collections/${collection.zotero_collection_id}/items?${zoteroApiRequestParams}`)}
              <dt><span class="chargement-inline"></span> Chargment...</dt>
            {:then fetchData}
              {#await fetchData.json() then streamedItems}
                {#each streamedItems.filter(removeZoteroItems) as item}
                  <!-- Le champ `bib` retourne un <div> avec formatage HTML -->
                  <dd>
                    {@html item.citation}
                  </dd>
                {/each}
              {/await}
            {:catch}
              <li class="message-erreur">
                Une erreur est survenue.
              </li>
          {/await}
        </dl>
      {/each}
      </RichtextBlock>
    </BlocksZone>
  {/if}
  
  <!-- tmp: motif au bas de la page -->
  <div style="border-block-start: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height="16rem" />
  </div>

  <svelte:fragment slot="sidebar">
    {#if data.legacy_image}
      <PageSidebarBlock>
        <figure style="margin: 0;">
          <img src="{data.legacy_image}" alt="" style="max-width: 100%; width: auto;"/>
          {#if data.image_credits}
            <figcaption>{data.image_credits}</figcaption>
          {/if}
        </figure>
      </PageSidebarBlock>
    {/if}
    <PageSidebarBlock>
      <dl>
        {#if data.occupation_status}
          <dt>{$_('teamIndex.occupation_status')}</dt>
          <dd>{data.occupation_status}</dd>
        {/if}

        {#if data.team_role}
          <dt>{$_('teamIndex.role')}</dt>
          <dd>{data.team_role}</dd>
        {/if}

        {#if data.email}
          <dt>{$_('email')}</dt>
          <dd><a href="mailto:{data.email}">{data.email}</a></dd>
        {/if}

        {#if data.links?.length}
          <dt>{$_('links')}</dt>
          <dd>
            <ul>
              {#each data.links as link}
                <li>
                  <a href="{link.url}">{link.label}</a>
                </li>
              {/each}
            </ul>
          </dd>
        {/if}
      </dl>

    </PageSidebarBlock>

    <div style="border-block-end: 1px solid var(--accent-sombre);">
      <DiagonalPattern height="2.5rem" />
    </div>

  </svelte:fragment>

</PageContainer>

<style>
  .dl-bibliographie dd {
    text-indent: -2rem;
  }

  .chargement-inline {
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    margin-inline: .35rem;
    margin-block: 0;

    border: 2px solid transparent;
    border-inline-start: 2px solid currentColor;
    border-radius: 50%;

    animation: rotate .75s infinite;
  }
  @keyframes rotate {
    from { transform: rotate(90deg); }
    to   { transform: rotate(450deg); }
  }
</style>
