/**
* @license
*
* Font Family: Merriweather Sans
* Designed by: Eben Sorkin, Sorkin Type
* URL: https://www.fontshare.com/fonts/merriweather-sans
* © 2024 Indian Type Foundry
*
* Merriweather Sans Light 
* Merriweather Sans LightItalic 
* Merriweather Sans Regular 
* Merriweather Sans Italic 
* Merriweather Sans Medium 
* Merriweather Sans MediumItalic 
* Merriweather Sans SemiBold 
* Merriweather Sans SemiBoldItalic 
* Merriweather Sans Bold 
* Merriweather Sans BoldItalic 
* Merriweather Sans ExtraBold 
* Merriweather Sans ExtraBoldItalic 
* Merriweather Sans Variable (Variable font)
* Merriweather Sans VariableItalic (Variable font)

*
*/
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 300.0;
*
* available axes:
'wght' (range from 300.0 to 800.0
*/
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-Variable.woff2') format('woff2');
  font-weight: 300 800;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 300.0;
*
* available axes:
'wght' (range from 300.0 to 800.0
*/
@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/merriweather/MerriweatherSans-VariableItalic.woff2') format('woff2');
  font-weight: 300 800;
  font-display: swap;
  font-style: italic;
}

