/**
* @license
*
* Font Family: Tabular
* Designed by: Jérémie Hornus, Julie Soudanne
* URL: https://www.fontshare.com/fonts/tabular
* © 2024 Indian Type Foundry
*
* Tabular Light 
* Tabular LightItalic 
* Tabular Regular 
* Tabular Italic 
* Tabular Medium 
* Tabular MediumItalic 
* Tabular Semibold 
* Tabular SemiboldItalic 
* Tabular Bold 
* Tabular BoldItalic 
* Tabular Variable (Variable font)
* Tabular VariableItalic (Variable font)

*
*/
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 300.0 to 700.0
*/
/* @font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-Variable.woff2') format('woff2');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
} */
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 300.0 to 700.0
*/
/* @font-face {
  font-family: 'Tabular';
  src: url('/fonts/tabular/Tabular-VariableItalic.woff2') format('woff2');
  font-weight: 300 700;
  font-display: swap;
  font-style: italic;
} */

