/**
 * VG500
 *
 * Par Justin Bihan
 * https://velvetyne.fr/fonts/vg5000/
 * Licence: SIL Open Font License, Version 1.1
 * Date: 23 novembre 2018
 */

@font-face {
  font-family: 'VG5000';
  src: url('/fonts/vg5000/VG5000-Regular_web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
