<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import WideListSection from '$lib/components/WideListSection.svelte';
  import WideListItem from '$lib/components/WideListItem.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import { _ } from 'svelte-i18n';
  import slugsMap from '$lib/slugsMap';
  import Prose from '$lib/components/Prose.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  
  /** @type {import('./$types').PageServerData} */
  export let data;
</script>


<PageHeader
  title="{$_('axis_plural')}"
/>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator isCurrent>{$_('axis_plural')}</PageBreadcrumbsItem>
  </svelte:fragment>

  <WideListSection>
    {#each data.items as featuredResearchField}
      <WideListItem
      eyebrow="{$_('axis')}"
        title="{featuredResearchField.title}"
        url="/{data.lang}/{slugsMap.get('axis')?.find(i => i.lang === data.lang)?.slug}/{featuredResearchField.slug}"
        imageSrc="{featuredResearchField.legacy_image}"
      >
        <Prose --font-size="var(--font-size-small)">
          {@html featuredResearchField.content_html || '...'}
        </Prose>
      </WideListItem>
    {/each}
  </WideListSection>

  <div style="border-block-end: 1px solid var(--accent-sombre);">
    <DiagonalPattern height="5rem" />
  </div>

  <Prose>
<pre>
  <code>"page_data": {JSON.stringify(data, null, 2)}</code>
</pre>
  </Prose>

  <svelte:fragment slot="sidebar">
    <PageSidebarBlock>
      total_items: {data.items.length}
    </PageSidebarBlock>

    <PageSidebarBlock noMargin>
      <DiagonalPattern height="12rem" />
    </PageSidebarBlock>
  </svelte:fragment>
  
</PageContainer>
