<script>
  /** @type {import('./$types').PageServerData} */
  export let data;

  $: ({ title } = data);
</script>

<h1>Champ de recherche: {title}</h1>

<pre>
  <code>
{JSON.stringify(data, null, 2)}
  </code>
</pre>
