<script>
  import FreeGridBlock from '$lib/components/FreeGridBlock.svelte';
  import FreeGridSection from '$lib/components/FreeGridSection.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import CalendarDays from '$lib/components/icons/CalendarDays.svelte';
</script>

<FreeGridSection>
  <span slot="header">Grille libre</span>

  <FreeGridBlock
    imageSrc="https://imgur.com/tquuUmE.jpg"
    eyebrow="Conférence"
    title="Conférence « Documenter les littératures des profils »"
    url="#"
    layout="large"
  >
    <Prose --font-size="var(--font-size-small)">
      Pulvinar nibh lobortis turpis suspendisse sem nostra in est a erat montes a condimentum nam ad mauris neque quis vestibulum scelerisque gravida consequat luctus. Cursus faucibus ultricies integer ad mauris.
    </Prose>

    <svelte:fragment slot="footer">
      <CalendarDays size={16} />

      <small>5 juin 2024</small>
    </svelte:fragment>
  </FreeGridBlock>

  <FreeGridBlock
    title="Colloque Humanistica 2023"
    eyebrow="Colloque"
    imageSrc="https://imgur.com/RfqZZhG.jpg"
  >
    <Prose --font-size="var(--font-size-small)">
      Et convallis sagittis parturient elementum ullamcorper mauris a cum nisl suspendisse accumsan leo lacinia sagittis amet vel parturient.
    </Prose>

    <svelte:fragment slot="footer">
      <CalendarDays size={16} />

      <small>24 mai 2024</small>
    </svelte:fragment>
  </FreeGridBlock>

  <FreeGridBlock
    eyebrow="Conférence"
    title="Gouverner le numérique dans un monde en transition"
    imageSrc="https://imgur.com/htKj5UO.jpg"
  >
    <Prose --font-size="var(--font-size-small)">
      Pulvinar nibh lobortis turpis suspendisse sem nostra in est a erat montes a condimentum nam ad mauris neque quis vestibulum scelerisque gravida consequat luctus. Cursus faucibus ultricies integer ad mauris.
    </Prose>

    <svelte:fragment slot="footer">
      <CalendarDays size={16} />

      <small>24 mai 2024</small>
    </svelte:fragment>
  </FreeGridBlock>

  <FreeGridBlock
    eyebrow="Conférence"
    title="Gouverner le numérique dans un monde en transition"
    imageSrc="https://imgur.com/htKj5UO.jpg"
  >
    <Prose --font-size="var(--font-size-small)">
      Pulvinar nibh lobortis turpis suspendisse sem nostra in est a erat montes a condimentum nam ad mauris neque quis vestibulum scelerisque gravida consequat luctus. Cursus faucibus ultricies integer ad mauris.
    </Prose>

    <svelte:fragment slot="footer">
      <CalendarDays size={16} />

      <small>24 mai 2024</small>
    </svelte:fragment>
  </FreeGridBlock>

  <FreeGridBlock
    title="Colloque Humanistica 2023"
    eyebrow="Colloque"
    imageSrc="https://imgur.com/RfqZZhG.jpg"
  >
    <Prose --font-size="var(--font-size-small)">
      Et convallis sagittis parturient elementum ullamcorper mauris a cum nisl suspendisse accumsan leo lacinia sagittis amet vel parturient.
    </Prose>

    <svelte:fragment slot="footer">
      <CalendarDays size={16} />

      <small>24 mai 2024</small>
    </svelte:fragment>
  </FreeGridBlock>
</FreeGridSection>