<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import BlocksZone from '$lib/components/BlocksZone.svelte';
  import RichtextBlock from '$lib/components/blocks/RichtextBlock.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import slugsMap from '$lib/slugsMap';
  import { _ } from 'svelte-i18n';

  /** @type {import('./$types').PageServerData} */
  export let data;

  $: ({ title } = data);
</script>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator href="/{data.lang}/{slugsMap.get('events')?.find(i => i.lang === data.lang)?.slug}">{$_('events')}</PageBreadcrumbsItem>
    <!-- TODO: plus joli format de date (attention au décalage avec la méthode `toLocaleDateString()`) -->
    <PageBreadcrumbsItem withSeparator isCurrent>{data.date_start}</PageBreadcrumbsItem>
  </svelte:fragment>

  <!-- Le corps de la page est composé de blocs modulaires -->
  <BlocksZone>
    <RichtextBlock content_html={`<h1>${title}</h1>`} />
    <RichtextBlock content_html={data.content_html} />
  </BlocksZone>
  
  <!-- tmp: motif au bas de la page -->
  <div style="border-block-start: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height="16rem" />
  </div>

  <svelte:fragment slot="sidebar">
    {#if data.legacy_image}
      <PageSidebarBlock>
        <figure style="margin: 0;">
          <img src="{data.legacy_image}" alt="" style="max-width: 100%; width: auto;"/>
          {#if data.image_credits}
            <figcaption>{data.image_credits}</figcaption>
          {/if}
        </figure>
      </PageSidebarBlock>
    {/if}
    <PageSidebarBlock>
      <dl>
        
        <!-- Description de la page -->
        {#if data.description}
          <dt>{$_('description')}</dt>
          <dd>{data.description}</dd>
        {/if}

        <!-- Date de début de l'événement -->
        {#if data.date_start}
          <dt>{$_('date_start')}</dt>
          <dd>
            <!-- TODO: plus joli format de date (attention au décalage avec la méthode `toLocaleDateString()`) -->
            {data.date_start}
          </dd>
        {/if}

        <!-- Heure de début de l'événement, s'il y a lieu -->
        {#if data.time_start}
          <dt>{$_('event_page.time_start')}</dt>
          <dd>
            {data.time_start}
          </dd>
        {/if}

        <!-- Heure de fin de l'événement, s'il y a lieu -->
        {#if data.time_end}
          <dt>{$_('event_page.time_end')}</dt>
          <dd>
            {data.time_end}
          </dd>
        {/if}

        <!-- Date de fin de l'événement, s'il y a lieu -->
        {#if data.date_end}
          <dt>{$_('date_end')}</dt>
          <dd>
            {new Date(data.date_end).toLocaleDateString(data.lang)}
          </dd>
        {/if}

        <!-- Type d'événement -->
        {#if data.event_type}
          <dt>{$_('event_page.event_type')}</dt>
          <dd>
            {$_(`event_page.event_type_list.${data.event_type}`)}
          </dd>
        {/if}

        <!-- Langues de l'événement -->
        {#if data.event_languages}
          <dt>{$_('event_page.event_languages')}</dt>
          <dd>
            <ul>
              {#each data.event_languages as language_code}
                <li>{$_(`languages_list.${language_code}`)}</li>
              {/each}
            </ul>
          </dd>
        {/if}

        <!-- Liens de l'événement -->
        {#if data.links?.length}
          <dt>{$_('links')}</dt>
          <dd>
            <ul>
              {#each data.links as link}
                <li>
                  <a href="{link.url}">{link.label}</a>
                </li>
              {/each}
            </ul>
          </dd>
        {/if}

      </dl>
    </PageSidebarBlock>

    <div style="border-block-end: 1px solid var(--accent-sombre);">
      <DiagonalPattern height="2.5rem" />
    </div>

    <PageSidebarBlock>
      <details>
        <summary>{$_('page_data')}</summary>
        <Prose>
<pre><code>{JSON.stringify(data, null, 2)}</code></pre>
      </Prose>
      </details>
    </PageSidebarBlock>

  </svelte:fragment>

</PageContainer>
