<script>
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import BlocksZone from '$lib/components/BlocksZone.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import { page } from '$app/stores';
  import { _ } from 'svelte-i18n';

  /** @type {import('./$types').PageServerData} */
  export let data;

  $: ({ title, slug, lang, description, date } = data);
</script>

<PageHeader
  {title}
/>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator href="{slug}" isCurrent>{title}</PageBreadcrumbsItem>
  </svelte:fragment>

  <!-- Le corps de la page est composé de blocs modulaires -->
  <BlocksZone blocks_relations={data.blocks_relations} />
  
  <!-- tmp: motive au bas de la page -->
  <div style="border-block-start: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height="16rem" />
  </div>

  <svelte:fragment slot="sidebar">
    <PageSidebarBlock>
      <dl>
        <!-- Description de la page -->
        {#if description}
          <dt>{$_('description')}</dt>
          <dd>{description}</dd>
        {/if}

        <!-- Date pour le document, s'il y en a une -->
        {#if date}
          <dt>{$_('date')}</dt>
          <dd>{date}</dd>
        {/if}

        <!-- Pour citer cette page -->
        <dt>{$_('reference_this_page')}</dt>
        <dd>
          {$page.data.site_title},
          <i>{title}</i>,
          <a href="{$page.url || ''}">{$page.url}</a>
          {#if $page.data.date}
            ({$_('last_modified_on')} {$page.data.date})
          {/if}
        </dd>

        <!-- TMP: montrer les données de la page -->
        <dt>{$_('page_data')}</dt>
        <dd>
          <details>
            <summary>{$_('show_hide')}</summary>
            <pre><code>{JSON.stringify(data, null, 2)}</code></pre>
        </dd>
      </dl>
    </PageSidebarBlock>

    <PageSidebarBlock>
      <!-- Section contact / pour nous joindre -->
      <dl>
        {#if data.site_email}
          <dt>{$_('email')}</dt>
          <dd>
            <a href="mailto:{data.site_email}">{data.site_email}</a>
          </dd>
        {/if}

        {#if data.site_phone}
          <dt>{$_('phone')}</dt>
          <dd>
            <a href="tel:{data.site_phone}">{data.site_phone}</a>
          </dd>
        {/if}

        {#if data.site_address_html}
          <dt>{$_('address')}</dt>
          <dd>
            <address>
              {@html data.site_address_html}
            </address>
          </dd>
        {/if}
      </dl>
    </PageSidebarBlock>

    <div style="border-block-end: 1px solid var(--accent-sombre)">
      <DiagonalPattern height={80} />
    </div>

    <PageSidebarBlock>
      <!-- Comptes tiers -->
      <dl>
        {#each data.site_social_accounts as account}
          <dt>
            {account.label}
          </dt>
          <dd>
            <a href="{account.url}" target="_blank" rel="noreferrer">Consulter &nearr;</a>
          </dd>
        {/each}
      </dl>
    </PageSidebarBlock>

  </svelte:fragment>

</PageContainer>
