<script>
  /**
   * Page de test pour le composant MainFooter
   */

  import MainFooter from '$lib/components/MainFooter.svelte';
  import MainFooterLogoItem from '$lib/components/MainFooterLogoItem.svelte';
  import MainFooterMenuItem from '$lib/components/MainFooterMenuItem.svelte';
  import MainFooterSocialItem from '$lib/components/MainFooterSocialItem.svelte';
  import { PUBLIC_DIRECTUS_URL } from '$env/static/public';

  /**
   * @type {String}
   */
  const siteTitle = '';

  /**
   * @type {String}
   */
  const homeUrl = '/styleguide';

  /** @type {Array<{label: string; url: string; items?: Array<{label: string; url: string; target?: string}>}>} */
  const menu_footer = [
    {
      label: 'Item #1',
      url: '#'
    },
    {
      label: 'Item #2',
      url: '#'
    },
    {
      label: 'Item #3',
      url: '#'
    },
    {
      label: 'Item #4',
      url: '#'
    },
    {
      label: 'Item #5',
      url: '#'
    },
  ];

  /**
   * @type {Array<{label: string; url: string; icon: string;}>}
   */
   const social_accounts = [
    {
      label: 'Item',
      icon: 'twitter',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'facebook',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'instagram',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'youtube',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'github',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'gitlab',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'udem',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'link',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'link',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'link',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'link',
      url: '#'
    },
    {
      label: 'Item',
      icon: 'link',
      url: '#'
    },
  ];

  const footer_logos = []
</script>

<MainFooter>
  <svelte:fragment slot="brand">
    <img src="http://localhost:8055/assets/1cc502c0-3bc1-494e-9e1d-696648cc6a29" alt="" />
  </svelte:fragment>

  <svelte:fragment slot="desc">
    Volutpat faucibus eu feugiat mus non porta nec suspendisse est et a adipiscing scelerisque vestibulum integer condimentum a pulvinar pharetra mus ullamcorper ultricies non a fames.Ad tellus id nostra vestibulum ac parturient condimentum quam condimentum parturient fermentum purus consectetur adipiscing ac cum vel dis aliquam duis in a eros parturient curae erat egestas.Quisque est mus eleifend non parturient.
  </svelte:fragment>

  <svelte:fragment slot="menu">
    
    {#each menu_footer as item}
    <MainFooterMenuItem
      href={item.url}
    >{item.label}</MainFooterMenuItem>
    {/each}

  </svelte:fragment>

  <svelte:fragment slot="social-links">
    {#each social_accounts as item}
      <MainFooterSocialItem
        href={item.url}
        icon={item.icon}
      >{item.label}</MainFooterSocialItem>
    {/each}
  </svelte:fragment>

  <svelte:fragment slot="logo-section">
    {#each footer_logos as logo}
    <MainFooterLogoItem
      src="{PUBLIC_DIRECTUS_URL}/assets/{logo.directus_files_id}"
      alt=""
    />
    {/each}
  </svelte:fragment>

  <svelte:fragment slot="sub-section">
    &copy; 2020 – Tous droits réservés.
  </svelte:fragment>
</MainFooter>