<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import BlocksZone from '$lib/components/BlocksZone.svelte';
  import RichtextBlock from '$lib/components/blocks/RichtextBlock.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import Prose from '$lib/components/Prose.svelte';
  import GraphPaperPattern from '$lib/components/GraphPaperPattern.svelte';
  import slugsMap from '$lib/slugsMap';
  import { _ } from 'svelte-i18n';

  /** @type {import('./$types').PageServerData} */
  export let data;

  $: ({ title } = data);
</script>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator href="/{data.lang}/{slugsMap.get('axis')?.find(i => i.lang === data.lang)?.slug}">{$_('axis')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator isCurrent>{title}</PageBreadcrumbsItem>
  </svelte:fragment>

  <!-- Le corps de la page est composé de blocs modulaires -->
  <BlocksZone>
    <RichtextBlock content_html={`<h1>${title}</h1>`} />
    <RichtextBlock content_html={data.content_html} />
  </BlocksZone>
  
  <!-- tmp: motif au bas de la page -->
  <div style="border-block-start: 1px solid var(--accent-sombre);">
    <GraphPaperPattern height="16rem" />
  </div>

  <svelte:fragment slot="sidebar">
    {#if data.legacy_image}
      <PageSidebarBlock>
        <figure style="margin: 0;">
          <img src="{data.legacy_image}" alt="" style="max-width: 100%; width: auto;"/>
          {#if data.image_credits}
            <figcaption>{data.image_credits}</figcaption>
          {/if}
        </figure>
      </PageSidebarBlock>
    {/if}
    <PageSidebarBlock>
      <dl>
        
        <!-- Description de la page -->
        {#if data.description}
          <dt>{$_('description')}</dt>
          <dd>{data.description}</dd>
        {/if}

        <!-- Projets liés -->
        {#if data.relatedProjects?.length}
          <dt>{$_('related_projects')}</dt>
          <dd>{data.relatedProjects.length}</dd>
        {/if}

        <!-- Événememts liés -->
        {#if data.relatedEvents?.length}
          <dt>{$_('related_events')}</dt>
          <dd>{data.relatedEvents.length}</dd>
        {/if}

      </dl>
    </PageSidebarBlock>

    <div style="border-block-end: 1px solid var(--accent-sombre);">
      <DiagonalPattern height="2.5rem" />
    </div>

    <PageSidebarBlock>
      <details>
        <summary>{$_('page_data')}</summary>
        <Prose>
<pre><code>{JSON.stringify(data, null, 2)}</code></pre>
      </Prose>
      </details>
    </PageSidebarBlock>

  </svelte:fragment>

</PageContainer>
