<script>
  import PageContainer from '$lib/components/PageContainer.svelte';
  import PageHeader from '$lib/components/PageHeader.svelte';
  import DiagonalPattern from '$lib/components/DiagonalPattern.svelte';
  import FreeGridSection from '$lib/components/FreeGridSection.svelte';
  import FreeGridBlock from '$lib/components/FreeGridBlock.svelte';import Prose from '$lib/components/Prose.svelte';
  import PageSidebarBlock from '$lib/components/PageSidebarBlock.svelte';
  import PageBreadcrumbsItem from '$lib/components/PageBreadcrumbsItem.svelte';
  import slugsMap from '$lib/slugsMap';
  import { _ } from 'svelte-i18n';
  import getAssetUrl from '$lib/directusAssetHelper';

  /** @type {import('./$types').PageServerData} */
  export let data;
</script>

<PageHeader
  title="{$_('projects')}"
/>

<PageContainer>
  <svelte:fragment slot="breadcrumbs">
    <PageBreadcrumbsItem href="/{data.lang}">{$_('home')}</PageBreadcrumbsItem>
    <PageBreadcrumbsItem withSeparator isCurrent>{$_('projects')}</PageBreadcrumbsItem>
  </svelte:fragment>

  <FreeGridSection>
    <span slot="header">Projets</span>

    {#each data.projects as project}
    <FreeGridBlock
      eyebrow={project?.project_status ? $_(project.project_status) : null}
      title={project.title}
      imageSrc={project?.feature_image ? getAssetUrl(project.feature_image) : null}
      url="/{data.lang}/{slugsMap.get('projects')?.find(s => s.lang === data.lang)?.slug}/{project.slug}"
    >
      <Prose --font-size="var(--font-size-small)">
        {@html project.description}
      </Prose>
    </FreeGridBlock>
    {/each}
  </FreeGridSection>

  <div style="border-block-end: 1px solid var(--accent-sombre);">
    <DiagonalPattern height="5rem" />
  </div>

  <Prose>
<pre>
  <code>
{JSON.stringify(data, null, 2)}
  </code>
</pre>
  </Prose>

  <svelte:fragment slot="sidebar">
    <PageSidebarBlock>
      total_items: {data.projects.length}
    </PageSidebarBlock>
    
    <PageSidebarBlock noMargin>
      <DiagonalPattern height="12rem" />
    </PageSidebarBlock>
  </svelte:fragment>
</PageContainer>
