<script>
  /**
   * Ce composant permet de gérer les zones de blocs libres.
   * Chaque bloc est responsable de son propre espacement horizontal/vertical
   * (marges, padding).
   * @uses './blocks/index.js'
   * 
   * Usage:
   * 
   *   <BlocksZone {blocks_relations} />
   * 
   * Il y a aussi un slot par défaut, pour y insérer dynamiquement les blocs de cette façon:
   * 
   *   <BlocksZone>
   *     <BlockComponent />
   *     <AnotherBlockComponent />
   *     ...
   *   </BlocksZone>
   */

  // Rappel:
  //  `components` est un dictionnaire qui lie une clé (nom de la
  //   collection dans le CMS) et l'implémentation d'un composant dans le
  //   présent dépôt.
  //   Il y a un couplage direct entre ces deux fichiers.
  import { components } from './blocks';

  /** @type {Array<{collection: string; item: any}>} */
  export let blocks_relations = [];
</script>

<div class="BlocksZone">
  {#each blocks_relations as block}
    {@const block_name = block.collection}
    {@const Component = components[block_name]}
    {#if Component}
      <svelte:component this={Component} {...block.item} />
    {:else}
      <div data-block-todo="true" data-block-name="{block_name}">
        <!-- Block "{block_name}" non implémenté. -->
      </div>
    {/if}
  {/each}
  
  <!-- Slot par défaut, si on veut utiliser BlocksZone avec les balises ouvrantes/fermantes -->
  <slot />
</div>
