<script>
  /**
   * Section pour contenir des composants `<Card />`, avec un en-tête
   * et optionnellement un bouton.
   * 
   * Usage:
   * 
   *   <CardSection>
   *     <Card />
   *     ...
   *   </CardSection>
   */
</script>

<section class="CardSection">
  <header class="CardSection__header">
    <slot name="header" />
  </header>

  <div class="CardSection__inner">
    <slot />
  </div>
</section>

<style>
  .CardSection {
    border-block: 1px solid var(--accent-sombre);
  }

  .CardSection__header {
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: .5rem;

    font-size: var(--font-size-medium);
    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    color: var(--couleur-texte);
    border-block-end: 1px solid var(--accent-sombre);
  }

  .CardSection__inner {
    padding: .75rem;

    display: flex;
    flex-direction: row;
    align-items: stretch; /* alignement vertical */
    flex-wrap: wrap;
    gap: .75rem; /* espacment entre les éléments plus grand */
  }
</style>
