<script>
  /**
   * Carte modulaire, pour afficher un projet, un événement, une publication…
   */

    import DiagonalPattern from './DiagonalPattern.svelte';

  /** @type {string | null} */
  export let eyebrow = null;

  /** @type {string | null} */
  export let buttonText = null;

  /** @type {string | null} */
  export let buttonHref = null;

</script>

<div class="Card">

  <header class="Card__header">
    <slot name="header">
      {#if eyebrow}
        <span class="Card__eyebrow">
          {eyebrow}
        </span>
      {/if}
    </slot>
  </header>

  <article class="Card__body">
    <slot />
  </article>


  <footer class="Card__footer">
    <slot name="footer">
      {#if buttonText}
        <a href={buttonHref}>{buttonText}</a>
      {/if}
    </slot>
  </footer>

</div>

<style>
  .Card {
    --Card-spacing-x: .75rem;
    --Card-spacing-y: 1rem;

    display: flex;
    flex: 0 0 18.5rem;
    flex-direction: column;

    border: 1px solid var(--accent-sombre);
  }
  
  .Card__header {
    padding-block: var(--Card-spacing-y) .25rem;
    padding-inline: var(--Card-spacing-x);

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-mini);
    line-height: 1.375;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--pensee);

  }
  .Card__header:empty {
    /* annuler l'affichage et l'espacement si vide */
    display: none;
  }

  .Card__body {
    padding-block: 1.25rem;
    padding-inline: var(--Card-spacing-x);

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-xsmall);
    line-height: 1.375;
  }
  
  .Card__footer {
    padding-block: var(--Card-spacing-x); /* espacement moindre, égal à l'espacement horizontal */
    padding-inline: var(--Card-spacing-x);
    margin-block-start: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--Card-spacing-x);

    border-block-start: 1px solid var(--accent-sombre);
  }

  .Card__footer:empty {
    /* annuler l'affichage et l'espacement si vide */
    display: none;
  }
</style>