<script>
  /** @type {string | number} */
  export let height = 100;
  /** @type {string | number} */
  export let width = 'auto';

  $: {
    height;
    width
  }
</script>

<div
  class="DiagonalPattern"
  style="width: {typeof width === 'number' ? width + 'px' : width}; padding-block-end: {typeof height === 'number' ? height + 'px' : height};"
></div>

<style>
  .DiagonalPattern {
    /* diagonal lines pattern via https://heropatterns.com/ */
    background-color: var(--couleur-fond);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23464582' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    display: flex;
  }
</style>