<script>
  /**
   * Bloc destiné à être utilisé dans le composant parent `FreeGridSection.svelte`.
   */

  import WireframeImage from './WireframeImage.svelte';
  import WireframePortrait from './WireframePortrait.svelte';

  /** @type {string | null} */
  export let imageSrc = null;

  /** @type {string | null} */
  export let title = null;

  /** @type {string | null} */
  export let eyebrow = null;

  /** @type {string | null} */
  export let url = null;

  /**
   * normal | large
   * @type {string | null}
   */
  export let layout = 'normal';
</script>

<article
  class="FreeGridBlock"
  class:FreeGridBlock--large={layout === 'large'}
>
  <header class="FreeGridBlock__image-wrapper">
    {#if url}
      <a
        href={url}
        class="FreeGridBlock__image-anchor"
      >
      {#if imageSrc}
          <img
            class="FreeGridBlock__image"
            src={imageSrc}
            alt=""
          >
        {:else}
          <div class="FreeGridBlock__placeholder">
            {#if layout === 'large'}
              <WireframePortrait />
            {:else}
              <WireframeImage />
            {/if}
          </div>
        {/if}
      </a>
    {:else}
      {#if imageSrc}
        <img
          class="FreeGridBlock__image"
          src={imageSrc}
          alt=""
        >
      {:else}
        <div class="FreeGridBlock__placeholder">
          {#if layout === 'large'}
            <WireframePortrait />
          {:else}
            <WireframeImage />
          {/if}
        </div>
      {/if}
    {/if}
  </header>

  <div class="FreeGridBlock__body">
    {#if eyebrow}
      <div class="FreeGridBlock__eyebrow">
        {eyebrow || ''}
      </div>
    {/if}

    {#if title}
      <h3 class=FreeGridBlock__title>
        {#if url}
          <a
            href={url}
            class="FreeGridBlock__title-anchor"
          >
            <!-- @html au cas où le titre contiendrait p. ex. italiques <i> -->
            {@html title}
          </a>
        {:else}
          {@html title}
        {/if}
      </h3>
    {/if}

    <div class="FreeGridBlock__content">
      <slot />
    </div>

    <footer class="FreeGridBlock__footer">
      <slot name="footer" />
    </footer>
  </div>
</article>

<style>
  .FreeGridBlock {
    --FreeGridBlock-spacing-y: 1rem;
    --FreeGridBlock-spacing-x: .75rem;
    --FreeGridBlock-basis: calc(100% + 1px); /* +1px pour bordure */
    --FreeGridBlock-flex-direction: column;
    --FreeGridBlock-image-ratio: 1200 / 630; /* opengraph cover img */
    --FreeGridBlock-object-position: bottom left;
    --FreeGridBlock-image-basis: auto;

    padding-block: var(--FreeGridBlock-spacing-y);
    padding-inline: var(--FreeGridBlock-spacing-x);
    /* pour bordure */
    margin-block-end: -1px;
    margin-inline-end: -1px;

    display: flex;
    flex-direction: var(--FreeGridBlock-flex-direction);
    justify-content: flex-start;
    gap: .75rem;

    /* enfant d'un élément flex */
    flex-basis: var(--FreeGridBlock-basis);
    flex-shrink: 0;
    flex-grow: 0;

    font-family: var(--font-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-small);
    line-height: var(--line-height-body);

    border-block-end: 1px solid var(--accent-sombre);
    border-inline-end: 1px solid var(--accent-sombre);
  }
  @media (min-width: 60rem) {
    .FreeGridBlock {
      --FreeGridBlock-basis: calc(50% + 1px); /* +1px pour bordure */
    }
    .FreeGridBlock--large {
      --FreeGridBlock-flex-direction: row;
      --FreeGridBlock-image-ratio: 3 / 4;
      --FreeGridBlock-image-basis: 25%;
      --FreeGridBlock-basis: calc(100% + 1px); /* +1px pour bordure */
      --FreeGridBlock-object-position: top center;
    }
  }

  .FreeGridBlock__image-wrapper {
    flex-basis: var(--FreeGridBlock-image-basis, auto);
    flex-shrink: 0; /* ne pas réduire la taille, en particulier pour la disposition large */
    aspect-ratio: var(--FreeGridBlock-image-ratio); /* l'image s'insérera dans cette proportion fixe */
    overflow: hidden; /* nécessaire pour respecter l'aspect-ratio */
  }
  .FreeGridBlock__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: var(--FreeGridBlock-object-position);
  }

  .FreeGridBlock__image-anchor {
    color: inherit;

    opacity: 1;
    transition: all .25s;
  }
  .FreeGridBlock__image-anchor:hover {
    opacity: .85;
    /* couleur, lorsqu'un élément image en dépend */
    color: var(--couleur-ancres);
  }
  
  .FreeGridBlock__placeholder {
    /* Note: les propriétés de `height` et `width` doivent être de 100%
    sur le svg enfant pour que object-fit fonctionne */
    object-fit: contain;
    object-position: var(--FreeGridBlock-object-position);
    height: 100%;
    width: 100%;
  }
  .FreeGridBlock__placeholder :global(svg) {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .FreeGridBlock__body {
    flex-grow: 1; /* prendre toute la place restante */

    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .FreeGridBlock__eyebrow {
    margin-block-start: .5rem;
    padding-block-end: .25rem; /* pour bordure */
    display: inline-block;
    align-self: flex-start;

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-xsmall);
    text-transform: uppercase;
    letter-spacing: 0.015em;
    color: var(--vert);
    border-block-end: 1px dotted currentColor;
  }
  .FreeGridBlock__eyebrow::before {
    content: '/* ';
  }
  .FreeGridBlock__eyebrow::after {
    content: ' */';
  }

  .FreeGridBlock__title {
    margin-block: 0;
    margin-inline: 0;
    padding: 0;

    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
    font-size: var(--font-size-medium);
  }

  .FreeGridBlock__title-anchor {
    color: inherit;
    text-decoration: none;
    transition: color .15s;
  }
  .FreeGridBlock__title-anchor:hover {
    color: var(--couleur-ancres);
  }

  .FreeGridBlock__footer {
    margin-block-start: auto; /* pousser vers le bas */
    padding-block-start: .75rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-small);
  }
  .FreeGridBlock__footer:empty {
    display: none;
  }
</style>