<script>
  /**
   * Section destinée à accueillir des blocs de largeur variable (composant `FreeGridBlock`).
   */
</script>

<section class="FreeGridSection">
  <header class="FreeGridSection__header">
    <slot name="header" />
  </header>

  <div class="FreeGridSection__inner">
    <slot />
  </div>

  <footer class="FreeGridSection__footer">
    <slot name="footer" />
  </footer>
</section>

<style>
  .FreeGridSection {
    margin-block-start: -1px; /* compenser pour bordure */
    border-block: 1px solid var(--accent-sombre);
  }
  .FreeGridSection__header {
    padding-block: 1rem;
    padding-inline: 1rem;

    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
    font-size: var(--font-size-medium);
    border-block-end: 1px solid var(--accent-sombre);
  }
  .FreeGridSection__header:empty {
    display: none;
  }

  .FreeGridSection__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .FreeGridSection__footer {
    padding-block: 2rem;
    padding-inline: .75rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .FreeGridSection__footer:empty {
    display: none;
  }
</style>

