<script>
  /**
   * Head metadata
   * Métadonnées qui vont dans le <head>, ex. titre, description, opengraph...
   * Les données sont tirées du store `page` de SvelteKit, donc aucun paramètre
   * n'est nécessaire pour utiliser ce composant.
   * 
   * Usage:
   * 
   *   <HeadMetadata />
   */
  import { page } from '$app/stores';

  /** @type {string} */
  const titleSeparator = '|';

  /** @type {string} */
  let siteTitle = $page.data.site_title;
  /** @type {string} */
  let title = $page.data.title;
  /** @type {string} */
  let description = $page.data.description;
  /** @type {string} */
  let featureImage = $page.data.feature_image;

  // on souscrit au store `page`
  // ne pas oublier d'utiliser la balise `{#key}` pour reconstruire le HTML
  // du composant quand une propriété change
  page.subscribe(p => {
    // `siteTitle` usually wouldn’t ever need updating except on lang change
    title = p.data.title;
    description = p.data.description;
    featureImage = p.data.featureImage;
  });
</script>

<svelte:head>
  {#if $page.error?.message}
    <title>{`${$page.status}: ${$page.error.message}`}</title>
    <meta name="og:title" content="{`${$page.status}: ${$page.error.message}`}">
    <meta name="twitter:text:title" content="{`${$page.status}: ${$page.error.message}`}">
  {:else if siteTitle}
    {#key title}
      <title>{title ? `${title} ${titleSeparator} ${siteTitle}` : siteTitle}</title>
      <meta name="og:title" content="{title ? `${title} ${titleSeparator} ${siteTitle}` : siteTitle}">
      <meta name="twitter:text:title" content="{title ? `${title} ${titleSeparator} ${siteTitle}` : siteTitle}">
    {/key}
  {:else}
    {#key title}
      <title>{title ? title : ''}</title>
      <meta name="og:title" content="{title}">
    {/key}
  {/if}

  {#key description}
    <meta name="description" content="{description}">
    <meta name="og:description" content="{description}">
    <meta name="twitter:text:description" content="{description}">
  {/key}

  {#if featureImage}
    {#key featureImage}
      <meta name="og:image" content="{featureImage}">
      <meta name="twitter:card" content="summary_large_image">
    {/key}
  {/if}
</svelte:head>
