<script>
  /**
   * Item pour utilisation dans le pied-de-page principal
   * 
   * Usage:
   * 
   *   <MainFooterMenuItem href="/url">
   *     Texte du lien
   *   </MainFooterMenuItem>
   */

  /** @type {string} */
  export let href = '';
</script>

<li class="MainFooterMenuItem">
  <a
    {href}
    class="MainFooterMenuItem__anchor"
  >
    <slot />
  </a>
</li>

<style>
  .MainFooterMenuItem {
    --MainFooterMenuItem-text-color: var(--marine-200);
    --MainFooterMenuItem-hover-color: var(--marine-50);
  }
  .MainFooterMenuItem__anchor {
    padding-block: .25rem;
    
    font-size: var(--font-size-xsmall);
    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    color: var(--MainFooterMenuItem-text-color);
    text-decoration: none;
  }
  .MainFooterMenuItem__anchor:hover {
    --MainFooterMenuItem-text-color: var(--MainFooterMenuItem-hover-color);
  }
</style>