<script>
  /**
   * Item pour utilisation dans le pied-de-page principal
   * 
   * Usage:
   * 
   *   <MainFooterSocialItem
   *     href="https://plateforme.xyz/@compte"
   *     icon="mastodon"
   *   />
   */

  import Archive from './icons/Archive.svelte';
  import Chain from './icons/Chain.svelte';
  import Facebook from './icons/Facebook.svelte';
  import GitHub from './icons/GitHub.svelte';
  import GitLab from './icons/GitLab.svelte';
  import Instagram from './icons/Instagram.svelte';
  import LinkedIn from './icons/LinkedIn.svelte';
  import Mastodon from './icons/Mastodon.svelte';
  import Soundcloud from './icons/Soundcloud.svelte';
  import UdeM from './icons/UdeM.svelte';
  import Vimeo from './icons/Vimeo.svelte';
  import XTwitter from './icons/XTwitter.svelte';
  import YouTube from './icons/YouTube.svelte';
  import Zotero from './icons/Zotero.svelte';

  /** @type {string} */
  export let href = '';

  /**
   * L'une des icônes possibles
   * @type {string}
   */
  export let icon = 'link';

</script>

<li class="MainFooterSocialItem">
  <a
    {href}
    class="MainFooterSocialItem__anchor"
  >
    {#if icon === 'link'}
      <Chain />
    {/if}

    {#if icon === 'archive'}
      <Archive size={20} />
    {/if}

    {#if icon === 'facebook'}
      <Facebook size={20} />
    {/if}

    {#if icon === 'github'}
      <GitHub size={20} />
    {/if}

    {#if icon === 'gitlab'}
      <GitLab size={20} />
    {/if}


    {#if icon === 'instagram'}
      <Instagram size={20} />
    {/if}

    {#if icon === 'linkedin'}
      <LinkedIn size={20} />
    {/if}

    {#if icon === 'mastodon'}
      <Mastodon size={20} />
    {/if}

    {#if icon === 'soundcloud'}
      <Soundcloud size={20} />
    {/if}

    {#if icon === 'twitter'}
      <XTwitter size={20} />
    {/if}

    {#if icon === 'udem'}
      <UdeM size={20} />
    {/if}

    {#if icon === 'vimeo'}
      <Vimeo size={20} />
    {/if}

    {#if icon === 'youtube'}
      <YouTube size={20} />
    {/if}

    {#if icon === 'zotero'}
      <Zotero size={20} />
    {/if}
  </a>
</li>

<style>
  .MainFooterSocialItem {
    --MainFooterSocialItem-color: var(--marine-200);
    --MainFooterSocialItem-hover-color: var(--marine-50);

    margin: 0;
    padding: 0;
    color: var(--MainFooterSocialItem-color);
  }
  .MainFooterSocialItem__anchor {
    display: inline-flex;
    padding: .5rem;

    font-family: var(--font-details);
    font-size: var(--font-size-mini);
    line-height: 1;
    color: inherit;
    text-decoration: none;
    appearance: none;
  }
  .MainFooterSocialItem:hover {
    --MainFooterSocialItem-color: var(--MainFooterSocialItem-hover-color);
  }
</style>