<script>
  /** @type {string} */
  export let src;

  /** @type {string} */
  export let alt = '';
</script>

<li class="MainFooterLogoItem">
  <img
    class="MainFooterLogoItem__image"
    {src}
    {alt}
  />
</li>

<style>
  .MainFooterLogoItem {
    padding: 1.25rem;
    margin: 0;
    margin-block-end: -1px; /* superposer bordure */
    margin-inline-end: -1px; /* superposer bordure */
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    border-inline: 1px solid var(--accent-sombre);
    border-block-end: 1px solid var(--accent-sombre);
  }

  .MainFooterLogoItem__image {
    max-width: 100%;
    height: auto;
  }
</style>