<script>
  /**
   * Pied-de-page principal pour l'ensemble du site.
   * 
   * 6 slots:
   * - brand
   * - desc
   * - menu
   * - social-links
   * - logo-section
   * - sub-section
   * 
   * Usage:
   * 
   *   <MainFooter>
   *     <svelte:fragment slot="brand">
   *       <img src="brand-img.ext" alt="" />
   *     </svelte:fragment>
   * 
   *     <svelte:fragment slot="..."></svelte:fragment>
   *   </MainFooter>
   */

  import DiagonalPattern from './DiagonalPattern.svelte';
</script>

<footer class="MainFooter">
  <div style="border-block-end: 1px solid var(--accent-sombre)">
    <DiagonalPattern height="3rem" />
  </div>

  <section class="MainFooter__top-section">
    <div class="MainFooter__top-section-inner">
      <div class="MainFooter__brand-wrapper">
        <slot name="brand" />
      </div>

      {#if $$slots['desc']}
        <div class="MainFooter__desc">
          <slot name="desc" />
        </div>
      {/if}

      <ul class="MainFooter__menu">
        <!-- <MainFooterMenuItem /> -->
        <slot name="menu" />
      </ul>

      <ul class="MainFooter__social-links">
        <!-- <MainFooterSocialItem /> -->
        <slot name="social-links" />
      </ul>
    </div>
  </section>

  {#if $$slots['logo-section']}
    <section class="MainFooter__logo-section">
      <ul class="MainFooter__logos">
        <!-- <MainFooterLogoItem /> -->
        <slot name="logo-section" />
      </ul>
    </section>
  {/if}

  {#if $$slots['sub-section']}
    <section class="MainFooter__sub">
      <div class="MainFooter__sub-inner">
        <slot name="sub-section" />
      </div>
    </section>
  {/if}

</footer>

<style>
  .MainFooter {
    --MainFooter-inline-spacing: .75rem;
    --MainFooter-background-color: var(--couleur-fond-profond);
    --MainFooter-text-color: var(--couleur-texte);
    --MainFooter-columns: 1fr auto;
    --MainFooter-rows: repeat(3, auto);
    --MainFooter-areas:
      "brand  social"
      "desc   social"
      "menu   social"
      ;

    background-color: var(--MainFooter-background-color);
    color: var(--MainFooter-text-color);
  }
  @media (min-width: 60rem) {
    .MainFooter {
      --MainFooter-columns: 1fr 3rem 16rem 4rem;
      --MainFooter-areas:
        "brand  .  menu  social"
        "desc   .  menu  social"
      ;
      --MainFooter-rows: auto 1fr; /* la première rangée ne doit pas prendre plus d'espace vetical */
      --MainFooter-inline-spacing: 1.25rem;
    }
  }

  .MainFooter__top-section {
    padding-block: 2.5rem;
    border-block-end: 1px solid var(--accent-sombre);
  }

  .MainFooter__top-section-inner {
    margin-inline: auto;
    width: 100%;
    max-width: var(--container-max-width);
    padding-inline: var(--MainFooter-inline-spacing);

    display: grid;
    grid-template-columns: var(--MainFooter-columns);
    grid-template-areas: var(--MainFooter-areas);
    grid-template-rows: var(--MainFooter-rows);
    gap: 2rem 1rem;
  }

  .MainFooter__brand-wrapper {
    grid-area: brand;

    max-width: 24rem;
  }

  .MainFooter__desc {
    grid-area: desc;

    max-width: 32rem;

    color: var(--marine-200);
    font-size: var(--font-size-small);
    font-family: var(--font-body);
    font-weight: var(--font-weight-body);
    line-height: 1.375;
  }


  .MainFooter__menu {
    grid-area: menu;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    list-style: none outside none;
  }

  .MainFooter__social-links {
    grid-area: social;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-end;

    list-style: none outside none;
  }

  .MainFooter__logo-section {
    padding-inline: var(--MainFooter-inline-spacing);

    border-block-end: 1px solid var(--accent-sombre);
  }

  .MainFooter__logos {
    margin: 0;
    margin-inline: auto;
    max-width: var(--container-max-width);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    justify-content: center;
  }

  .MainFooter__sub {
    padding-block: 1.75rem;
    padding-inline: var(--MainFooter-inline-spacing);
  }

  .MainFooter__sub-inner {
    margin-inline: auto;
    max-width: var(--container-max-width);

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-body);
    color: var(--marine-200);
  }
</style>