<script>
  /**
   * Menu principal, pour utilisation comme composant enfant de Navbar.
   * Émet un événement lorsque le bouton toggle est déclenché.
   * 
   * Usage:
   * 
   * <MainMenu
   *   items={[]}
   *   showSideMenu={false}
   * >
   * </MainMenu>
   */
  
  import ThreeBars from '$lib/components/icons/ThreeBars.svelte';

  /**
   * @type {Boolean}
   */
  export let showSideMenu = false;

</script>

<!-- Collapsible menu -->
<div
  class="MainMenu"
>
  <ul class="MainMenu__list">
    <!-- Insérer des composants enfants `MainMenuItem` -->
    <slot />
  </ul>

  <button
    class="MainMenu__toggle"
    on:click={() => showSideMenu = !showSideMenu}
    >
    <ThreeBars size={32} />
  </button>
</div>

<style>
  .MainMenu {
    --MainMenu-list-display: none; /* afficher @ 62rem+ */
    --MainMenu-toggle-display: flex; /* none @ 62rem+ */
    --MainMenu-shadow: 0 0 0 rgba(0, 0, 0, .15);
    --MainMenu-background-color: var(--Navbar-background-color);
    --MainMenu-border-color: var(--Navbar-border-color);

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;

    background-color: var(--MainMenu-background-color);
    color: var(--MainMenu-text-color);
  }
  @media (min-width: 62rem) {
    .MainMenu {
      --MainMenu-toggle-display: none;
      --MainMenu-list-display: flex;
    }
  }

  .MainMenu__list {
    /* styles par défaut de liste */
    margin: 0;
    padding: 0;
    
    display: var(--MainMenu-list-display);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    list-style: none outside none;
  }

  .MainMenu__toggle {
    /* pousser le bouton au bout → */
    margin-inline-start: auto;
    padding: 1rem;
    min-width: 2rem;
    display: var(--MainMenu-toggle-display); /* flex -> none */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* ratio carré */
    aspect-ratio: 1;

    background-color: transparent;
    border: 0;
    border-inline-start: 1px solid var(--MainMenu-border-color);
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;

    transition: color .15s;
  }
  .MainMenu__toggle:hover {
    color: var(--Navbar-hover-text-color);
  }
  .MainMenu__toggle:focus {
    outline: 0;
  }
</style>
