<script>
  import { beforeNavigate } from '$app/navigation';
  import { page } from '$app/stores';
  import { goto } from '$app/navigation';
  import { fly } from 'svelte/transition';
  import ChevronDown from '$lib/components/icons/ChevronDown.svelte';

  /** @type {string} */
  export let label = '';

  /** @type {string} */
  export let url = '';
  
  /** @type {Array<{label: string; url: string; target?: string;}>} */
  export let items = [];

  /** @type {string | null} */
  export let target = null;

  /**
   * Afficher ou masquer le menu déroulant. Déclaration réactive dans Svelte.
   * @type {Boolean}
   */
  let showDropdown = false;

  beforeNavigate(() => {
    // fermer le dropdown si on navigue vers une autre page
    if (showDropdown) {
      showDropdown = false;
    }
  });

  /**
   * Indique si la page actuelle correspond au chemin donné
   * 
   * @param {String} itemPath
   * @returns {Boolean}
   */
   function isCurrentPage(itemPath) {
    return $page.url.pathname === itemPath;
  }
</script>

{#if items && items.length}
  <!-- Avec menu déroulant -->
  <li
    class="MainMenuItem has-dropdown"
    on:mouseenter={() => showDropdown = true}
    on:mouseleave={() => showDropdown = false}
  >
    <button
      class="MainMenuItem__anchor"
      aria-haspopup="true"
      on:click={() => showDropdown = !showDropdown}
    >{label}
      <span
        class="MainMenuItem__anchor-icon"
        class:rotated={showDropdown}
      >
        <ChevronDown size={20} />
      </span>
    </button>

    {#if showDropdown}
      <ul
        class="MainMenuItem__dropdown"
        transition:fly={{ duration: 150, y: -8 }}
      >
        {#each items as subMenuItem}
          <li class="MainMenuItem__dropdown-item">
            <a
              class="MainMenuItem__dropdown-anchor"
              class:active={isCurrentPage(subMenuItem.url)}
              href="{subMenuItem.url}"
              target="{subMenuItem.target}"
              on:click={() => goto(subMenuItem.url)}
            >{subMenuItem.label}</a>
          </li>
        {/each}
      </ul>
    {/if}
  </li>
{:else}
  <!-- Sans menu déroulant -->
  <li
    class="MainMenuItem"
  >
    <a
      class="MainMenuItem__anchor"
      href="{url}"
      target="{target}"
    >{label}</a>
  </li>
{/if}

<style>
  .MainMenuItem {
    --MainMenuItem-item-border-width: 6px;
    --MainMenuItem-text-color: inherit;
    --MainMenuItem-item-highlight-color: var(--marine-300);
    --MainMenuItem-dropdown-background-color: var(--Navbar-background-color);
    /* hériter de la variable du composant parent */
    --MainMenuItem-background-color: var(--MainMenu-background-color);

    display: inline-flex;
    flex-direction: row;
    align-items: stretch;

    text-align: center;
    font-family: var(--font-sans);

    /* la couleur de fond est importante pour le menu déroulant*/
    background-color: var(--MainMenuItem-background-color);
  }

  .MainMenuItem.has-dropdown {
    position: relative;
    z-index: 10;
  }

  .MainMenuItem__anchor {
    padding: 1.25rem 1rem;
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    color: var(--MainMenuItem-text-color);
    background-color: transparent;
    appearance: none;
    border: 0;
    outline: 0;
    text-decoration: none;

    /* La bordure du haut changera de couleur (surbrillance) */
    /* La bordure du bas (transparente) sert à centrer visuellement le texte du bouton */
    border-block: var(--MainMenuItem-item-border-width) solid transparent;

    transition: .15s background-color, .15s border-color, .15s color;
  }

  /* Il faut sélectionner le survol sur **l'item** (pour tenir compte des menus déroulants) */
  .MainMenuItem:hover .MainMenuItem__anchor {
    --MainMenuItem-text-color: var(--Navbar-hover-text-color);
    
    border-block-start-color: var(--MainMenuItem-item-highlight-color);
  }

  .MainMenuItem__anchor-icon {
    margin-inline-start: .75rem;
    flex-grow: 0;
    line-height: 1;
    
    transition: transform .15s;
  }
  .MainMenuItem__anchor-icon.rotated {
    transform: rotate(180deg);
  }

  .MainMenuItem__dropdown {
    margin: 0;
    padding: 0;
    width: 100%;

    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;

    list-style: none outside none;
    /* la couleur de fond est importante pour le menu déroulant*/
    background-color: var(--MainMenuItem-background-color);
    box-shadow: var(--MainMenuItem-shadow);

    /* Poursuivre la bordure pour suivre celle de la navbar */
    border-inline: 1px solid var(--Navbar-border-color);
    border-block-end: 1px solid var(--Navbar-border-color);
  }

  /* .MainMenuItem__dropdown-item {} */
  .MainMenuItem__dropdown-anchor {
    display: block;
    padding: 1rem .5rem;

    color: var(--MainMenuItem-text-color);
    background-color: transparent;
    background-blend-mode: soft-light;
    font-size: .875rem;
    text-decoration: none;
    border-inline: 4px solid transparent;

    transition: .15s background-color, .15s border-color;
  }

  .MainMenuItem__dropdown-anchor:hover {
    color: var(--Navbar-hover-text-color);
    background-color: rgba(255, 255, 255, .1);
  }

  /* style actif */
  /* placer cette règle **après** celle du :hover (pour avoir le dernier mot) */
  .MainMenuItem__dropdown-anchor.active {
    color: var(--MainMenuItem-text-color); /* ne pas changer le style sur hover */
    border-inline-start: 4px solid var(--MainMenuItem-item-highlight-color);
    background-color: rgba(0, 0, 0, .3);
    cursor: default;
  }
</style>