<script>
  /**
   * Barre de navigation principale
   */
  import NavbarMainMenu from '$lib/components/NavbarMainMenu.svelte';
  import NavbarMainMenuItem from '$lib/components/NavbarMainMenuItem.svelte';
  import NavbarTopMenu from '$lib/components/NavbarTopMenu.svelte';
  import SideMenu from '$lib/components/SideMenu.svelte';
  import { navigating } from '$app/stores';
  import { fly } from 'svelte/transition';

  // props
  /**
   * @type {String}
   */
  export let siteTitle = '';

  /**
   * @type {String}
   */
  export let homeUrl = '/';
  
  /**
   * @type {Array<{label: string; url: string; target?: string; items?: Array<{label: string; url: string; target?: string;}>; }>}
   */
  export let mainMenuItems = [];
  
  /**
   * @type {Array<{label: string; url: string; target?: string;}>}
   */
  export let topMenuItems = [];
  
  /**
   * @type {{ url: string; }}
   */
  export let headerLogo = { url: '' };

  // vars
  /**
   * @type {Boolean}
   */
  let showSideMenu = false;
</script>

<header class="Navbar">
  {#if headerLogo}
    <!-- Logo anchor -->
    <a
      class="Navbar__brand"
      href="{homeUrl}"
      class:is-navigating={$navigating !== null}
    >
      <img
        class="Navbar__brand-img"
        src="{headerLogo.url}"
        alt="{siteTitle}"
      >
      {#if $navigating}
        <div
          class="Navbar__spinner"
          in:fly|local={{ y: 16 }}
          out:fly|local={{ duration: 200 }}
        >
          <div class="Navbar__spinner-inner"></div>
        </div>
      {/if}
    </a>
  {/if}

  <div class="Navbar__menus">
    <div class="Navbar__primary">
      <NavbarMainMenu
        bind:showSideMenu
      >
      {#each mainMenuItems as item}
      {@const label = item.label}
      {@const url = item.url}
      {@const items = item.items}
      <NavbarMainMenuItem
        {items}
        {label}
        {url}
      />
      {/each}
      </NavbarMainMenu>
    </div>

    <div class="Navbar__secondary">
      <NavbarTopMenu
        items={topMenuItems}
      />
    </div>
  </div>
</header>

<SideMenu
  bind:show={showSideMenu}
  items={mainMenuItems}
  {headerLogo}
/>

<style>
  .Navbar {
    --Navbar-background-color: var(--marine-800);
    --Navbar-text-color: var(--marine-200);
    --Navbar-hover-text-color: var(--marine-50);
    --Navbar-border-color: var(--accent-sombre);
    --Navbar-hover-background-color: var(--marine-700);
    --Navbar-image-width: 18rem;
    --Navbar-brand-padding: .5rem;
    --Navbar-spinner-size: 2rem;
    --Navbar-secondary-display: none;

    display: flex;
    flex-direction: row;

    background-color: var(--Navbar-background-color);
    color: var(--Navbar-text-color);
    font-family: var(--font-sans);
    border-block-end: 1px solid var(--Navbar-border-color);
  }
  @media (min-width: 40rem) {
    .Navbar {
      --Navbar-image-width: 22rem;
      --Navbar-brand-padding: 1rem;
      --Navbar-secondary-display: block;
    }
  }

  .Navbar__brand {
    padding: var(--Navbar-brand-padding);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: transparent; /* will-change */
    color: inherit;
    text-decoration: none;
    transition: background-color .25s;
  }
  .Navbar__brand:hover {
    background-color: var(--Navbar-hover-background-color);
  }

  .Navbar__brand.is-navigating > img {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: .15s;
    transform: scale(.98) translateX(-6px);
  }

  .Navbar__brand > img {
    display: block;
    max-width: 100%;
    height: auto;
    width: var(--Navbar-image-width);

    transition-delay: .35s;
    transition-duration: .75s;
    transition-timing-function: var(--ease-out-expo);
  }

  .Navbar__spinner {
    position: absolute;
    pointer-events: none;
  }
  .Navbar__spinner-inner {
    height: var(--Navbar-spinner-size);
    width: var(--Navbar-spinner-size);
    border-radius: 50%;
    border: 4px solid currentColor;
    border-top-color: transparent;

    animation: rotate .45s linear infinite;
  }

  .Navbar__menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-inline-start: 1px solid var(--Navbar-border-color);
  }

  .Navbar__primary {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-block-start: auto;
    height: 100%;
  }

  .Navbar__secondary {
    display: var(--Navbar-secondary-display);
    order: 1;

    border-block-end: 1px solid var(--Navbar-border-color);
  }

  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

</style>
