<script>
  /**
   * Petit menu destiné à la zone supérieur de la Navbar.
   */

   /**
    * @type {Array<{label: string; url: string; target?: string;}>}
    */
  export let items = [];
</script>

<nav class="TopMenu">
  {#each items as menuItem}
    <a
      href="{menuItem.url}"
      class="TopMenu__anchor"
      target={menuItem.target}
    >{menuItem.label}</a>
  {/each}
</nav>

<style>
  .TopMenu {
    --TopMenu-item-text-color: var(--Navbar-text-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;

    font-size: .75rem;
    color: inherit;
  }

  .TopMenu__anchor {
    padding: .75rem;
    display: flex;
    flex-direction: row;

    color: var(--TopMenu-item-text-color);
    text-decoration: none;

    transition: color .15s;
  }
  .TopMenu__anchor:hover {
    --TopMenu-item-text-color: var(--Navbar-hover-text-color);
  }

</style>
