<script>
  /**
   * Item à utiliser pour le fil d'ariane.
   * 
   * Usage:
   * 
   *   <PageBreadcrumbsItem href="/fil">Ariane</PageBreadcrumbsItem>
   */

  /** @type {string | null} */
  export let href = null;

  /** @type {Boolean} */
  export let withSeparator = false;

  /** @type {string} */
  const separatorChar = '>';

  /** @type {Boolean} */
  export let isCurrent = false;
</script>

<li
  class="PageBreadcrumbsItem"
  class:PageBreadcrumbsItem--is-current={isCurrent}
>
  {#if withSeparator}
    <span class="PageBreadcrumbsItem__separator" aria-hidden="true">{separatorChar}</span>
  {/if}
  {#if href && !isCurrent}
    <a
      {href}
      class="PageBreadcrumbsItem__anchor"
    >
      <slot />
    </a>
  {:else}
    <slot />
  {/if}
</li>

<style>
  .PageBreadcrumbsItem {
    --PageBreadcrumbsItem-spacing: var(--PageContainer-breadcrumbs-gap, .75rem);
    --PageBreadcrumbsItem-color: var(--marine-200);
    --PageBreadcrumbsItem-hover-color: var(--marine-50);
    --PageBreadcrumbsItem-active-color: var(--marine-100);

    display: inline-flex;
    flex-direction: row;
    /* align-items: center; */
    
    color: var(--PageBreadcrumbsItem-color);
    text-decoration: none;
    font-size: .875rem;
    font-family: var(--font-sans);
  }
  
  .PageBreadcrumbsItem--is-current {
    color: var(--PageBreadcrumbsItem-active-color);
  }

  .PageBreadcrumbsItem__anchor {
    text-decoration: none;
    color: var(--PageBreadcrumbsItem-color); /* will-change */
    transition: color .15s;
  }
  .PageBreadcrumbsItem__anchor:hover {
    text-decoration: underline;
    color: var(--PageBreadcrumbsItem-hover-color);
  }

  .PageBreadcrumbsItem__separator {
    display: inline-flex;
    flex-direction: row;
    padding-inline-end: var(--PageBreadcrumbsItem-spacing);

    opacity: .35;
  }
</style>