<script>
  /**
   * Conteneur d'une page.
   * 3 slots:
   * - (défaut) corps de l'article
   * - breadcrumbs: fil d'ariane (dans lequel on insère des composants `PageBreadcrumbsItem`)
   * - sidebar: barre latérale (dans lequel on insère des composants `PageSidebarBlock`)
   * 
   * Usage:
   * 
   *   <PageContainer>
   *     <div> contnu principal... </div>
   * 
   *     <svelte:fragment slot="breadcrumbs">
   *       <PageBreadcrumbsItem href="/url">Titre de l'item</PageBreadcrumbsItem>
   *     </svelte:fragment>
   * 
   *     <svelte:fragment slot="sidebar">
   *       <PageSidebarBlock> ... </PageSidebarBlock>
   *     </svelte:fragment>
   *   </PageContainer>
   */
</script>

<div class="PageContainer">
  <article class="PageContainer__article">
    {#if $$slots.breadcrumbs}
      <ol class="PageContainer__breadcrumbs">
        <!-- PageBreadcrumbsItem -->
        <slot name="breadcrumbs" />
      </ol>
    {/if}

    <div class="PageContainer__article-inner">
      <slot />
    </div>
  </article>

  <aside class="PageContainer__sidebar">
    <!-- Remplir le slot suivant de composants `PageSidebarBlock` -->
    <slot name="sidebar" />
  </aside>
</div>

<style>
  .PageContainer {
    --PageContainer-flex-direction: column;
    --PageContainer-sidebar-width: 100%;
    --PageContainer-pre-article-width: 100%;
    --PageContainer-breadcrumbs-gap: .75rem;
    --PageContainer-inline-spacing: .75rem;
    --PageContainer-block-spacing: 1rem;
    --PageContainer-flex-justify: flex-start;
    --PageContainer-flex-align: stretch; /* étirer les conteneurs horizontalement */
    --PageContainer-article-basis: auto;

    margin-block: var(--PageContainer-block-spacing);
    padding-inline: var(--PageContainer-inline-spacing);
    margin-inline: auto;
    width: 100%;
    max-width: var(--container-max-width, 80rem);

    display: flex;
    flex-direction: var(--PageContainer-flex-direction);
    justify-content: var(--PageContainer-flex-justify);
    align-items: var(--PageContainer-flex-align);
    gap: var(--PageContainer-block-spacing) var(--PageContainer-inline-spacing) ;
  }
  @media (min-width: 60rem) {
    .PageContainer {
      --PageContainer-flex-direction: row;
      --PageContainer-pre-article-width: 8rem;
      --PageContainer-sidebar-width: 22rem;
      --PageContainer-block-spacing: 2rem;
      --PageContainer-inline-spacing: 1.25rem;
      --PageContainer-flex-justify: center;
      --PageContainer-flex-align: flex-start; /* ne pas étirer les conteneurs verticalement */
      --PageContainer-article-basis: 56rem; /* largeur maximale! */
    }
  }

  .PageContainer__breadcrumbs {
    margin: 0;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--PageContainer-breadcrumbs-gap);

    border-block-end: 1px solid var(--accent-sombre);
  }

  .PageContainer__article {
    flex: 0 1 var(--PageContainer-article-basis);
    
    overflow-x: hidden;
    border: 1px solid var(--accent-sombre);
    /* border-radius: .5rem; */
  }

  /* l'espacement intérieur est géré par chacun des blocs/éléments enfant */
  /* .PageContainer__article-inner {} */

  .PageContainer__sidebar {
    min-height: 10rem;
    flex: 0 0 var(--PageContainer-sidebar-width);

    /* ne jamais permettre aux éléments enfants de déborder (crucial avec flex) */
    overflow: hidden;

    font-size: .875rem;
    color: var(--marine-200);
    border: 1px solid var(--accent-sombre);
    /* border-radius: .5rem; */
  }
</style>