<script>
  /**
   * Composant permettant d'insérer du contenu dans la barre latérale.
   * Utiliser l'attribut `noMargin` pour annuler l'espacement intérieur.
   * 
   * Usage:
   * 
   *   <PageSidebarBlock>
   *     ... contenu ...
   *   </PageSidebarBlock>
   */

  /** @type {Boolean} */
  export let noMargin = false;
</script>

<div
  class="PageSidebarBlock"
  class:PageSidebarBlock--no-margin={noMargin}
>
  <slot />
</div>

<style>
  .PageSidebarBlock {
    padding-inline: .75rem; /* quand même serré */
    padding-block: .875rem; /* 14px (si 1rem = 16px) */

    font-size: var(--font-size-xsmall);
    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    line-height: 1.15;
    color: var(--couleur-texte);
  }
  /* Une bordure sépare chaque élément (lorsqu'il n'est pas dernier) */
  .PageSidebarBlock:not(:last-child) {
    border-block-end: 1px solid var(--accent-sombre);
  }
  .PageSidebarBlock--no-margin {
    padding: 0;
  }

  /* styles génériques */
  .PageSidebarBlock :global(p) {
    margin: 0;
  }
  .PageSidebarBlock :global(dl) {
    margin: 0;
  }
  .PageSidebarBlock :global(ul) {
    margin-block: 0;
    padding-inline-start: 1.75em; /* espacement relatif */

    display: flex;
    flex-direction: column;
    /* un peu d'espacement vertical entre les items */
    gap: .25rem;
  }
  .PageSidebarBlock :global(dt) {
    font-weight: var(--font-weight-details-bold);
    margin-block-end: .25rem;
  }
  .PageSidebarBlock :global(dd) {
    margin-inline: 0;
  }
  .PageSidebarBlock :global(dd:not(:last-child)) {
    margin-block-end: 1.5rem;
  }
  .PageSidebarBlock :global(a) {
    color: inherit; /* même couleur que le texte - moins distrayant */
    text-decoration: underline;
  }
  .PageSidebarBlock :global(a:hover) {
    color: var(--couleur-ancres);
  }
  .PageSidebarBlock :global(a:active) {
    color: var(--couleur-ancres-clic);
  }
  .PageSidebarBlock :global(address) {
    margin: 0;

    font: inherit;
  }
</style>