<script>
  /**
   * Pagination Item
   * Élément enfant du composant Pagination.
   */

  /** @type {string | null} */
  export let href = null;

  /** @type {Boolean} */
  export let active = false;

  $: active;
</script>

<li
  class="PaginationItem"
  class:PaginationItem--active={active}
>

  <!-- élément `<a>` ou `<button>`, selon le comportement attendu (href ou click) -->
  <svelte:element
    this={href ? 'a' : 'button'}
    {href}
    class="PaginationItem__button"
    on:blur
    on:change
    on:click
    on:focus
    on:keydown
    on:keypress
    on:keyup
    role={href ? 'button' : undefined}
  >
    <slot />
  </svelte:element>
</li>

<style>
  .PaginationItem {
    --PaginationItem-border-color: var(--accent-sombre);
    --PaginationItem-text-color: var(--accent-sombre);

    margin: 0;
    padding: 0;

    border: 1px solid var(--PaginationItem-border-color);
    color: var(--PaginationItem-text-color);
  }
  .PaginationItem--active {
    --PaginationItem-border-color: var(--marine-50);
    --PaginationItem-text-color: var(--marine-50);
  }
  .PaginationItem:hover {
    --PaginationItem-border-color: var(--marine-50);
    --PaginationItem-text-color: var(--marine-50);
  }

  .PaginationItem__button {
    display: block;
    padding-block: .5rem;
    padding-inline: .75rem;

    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-xsmall);
    line-height: 1;
    /* couleur neutre si ancre */
    color: inherit;
    /* annuler styles bouton par défaut du navigateur */
    appearance: none;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  .PaginationItem__button:focus {
    outline: 4px solid var(--couleur-ancres);
  }
</style>
