<script>
  /**
   * Pagination
   * Permettre la navigation à travers du contenu paginé.
   * 
   * Slots disponibles:
   * - prev - texte du bouton 'précédent'
   * - next - texte du bouton 'suivant'
   * 
   */
  import PaginationItem from './PaginationItem.svelte';
  import { createEventDispatcher } from 'svelte';

  /** @type {Array<{ name: string; href: string; active?: boolean }>}*/
  export let pages = [];

  /** @type {String} */
  export let ariaLabel = 'Page navigation';

  /** @type {Number | undefined}*/
  export let currentPage;
  $: currentPage;

  /** @type {import('svelte').EventDispatcher<Record<string,any>>} */
  const dispatch = createEventDispatcher();

  const previous = () => {
    dispatch('previous');
  };
  const next = () => {
    dispatch('next');
  };

  ////////////

  /**
   * Comparator function to indicate current page
   * @returns {Boolean}
   * @param {number | string} pageNumber
   */
  function isPaginationCurrent(pageNumber) {
    return Number(pageNumber) === currentPage;
  }
</script>

<nav
  class="Pagination"
  aria-label={ariaLabel}
>
  <ul class="Pagination__list">
    <PaginationItem on:click={previous}>
      <slot name="prev">Previous</slot>
    </PaginationItem>
    {#each pages as { name, href }}
    <!-- the `#key` block destroys and rebuilds for the `isPaginationCurrent`
         comparator to reflect the correct change -->
      {#key currentPage}
        <PaginationItem
          {href}
          active={isPaginationCurrent(name)}
          on:blur on:change on:click on:focus on:keydown on:keypress on:keyup
        >
          {name}
        </PaginationItem>
        {/key}
    {/each}
    <PaginationItem on:click={next}>
      <slot name="next">Next</slot>
    </PaginationItem>
  </ul>
</nav>

<style>
  /* .Pagination {} */

  .Pagination__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-items: baseline;
    flex-wrap: wrap; /* wrap... une ellipse visuelle n'est pas encore implémentée */
    gap: .75rem;

    list-style: none outside none;
  }
</style>
