<script>
  /**
   * Composant Prose, pour afficher du contenu html courant.
   * 
   * La propriété `--font-size` (spécifiée sur un élément parnet) permet de régler
   * la taille de police du corps selon le contexte.
   * 
   * Usage:
   * 
   *   <Prose --font-size="12px">
   *     <h2>Un en-tête de niveau 2</h2>
   *     <p>
   *       Un paragraphe va ici. On peut ajouter une
   *       <a href="/exemple-de-page">ancre</a>.
   *     </p>
   *   </Prose>
   */
</script>

<div class="Prose">
  <slot />
</div>

<style>
  /*
  Styles contrôlés pour du texte suivi.
  1. En-têtes
  2. Paragraphes
  3. Gras + italiques
  4. Ancres
  5. Surlignage
  6. Texte inséré
  7. Texte supprimé
  8. Blocs de citation
  9. Listes
  10. Code
  11. Règles horizontales
  12. Tables
  13. Images

  Note : la syntaxe `global()` est nécessaire pour les éventuels sélecteurs enfants de `.Prose`.
  Elle est requise pour éviter que ces sélecteurs soient éliminés lors de la
  phase de construction ("build"), car le compilateur les considérerait  comme
  «code mort» ("dead code") par le compilateur.
  */

  .Prose {
    /* La propriété `--font-size` sur un parent permet de paramétrer la taille de base
       (sinon, la taille du corps est utilisée).
    */
    --Prose-font-size: var(--font-size, var(--font-size-body-1));

    /* Réglages typographiques de base («globaux») pour la prose */
    font-family: var(--font-body);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
    font-size: var(--Prose-font-size);
  }

  /* Espacement par défaut des éléments enfants */
  .Prose :global(*) {
    margin-block-end: 1em;
  }
  .Prose :global(*:first-child) {
    margin-block-start: 0;
  }
  .Prose :global(*:last-child) {
    margin-block-end: 0;
  }

  /* Paragraphes */
  .Prose :global(p) {
    font-size: var(--Prose-font-size);
  }
  /*
  Deux stratégies de séparation visuelle des paragraphe (une *ou* l’autre) :
  1. Indentation *ou*
  2. Espacement au-dessus du paragraphe
  */
  /* 1. Indentation: le premier paragraphe n’est pas indenté */
  /*
  :global(p:not(:first-of-type)) {
    text-indent: 2em;
  }
  */
  /* 2. Espacement au-dessus : s’appliquera sur tous les paragraphes, sauf s’il st le tout premier enfant */
  .Prose :global(p + p) {
    margin-block-start: calc(var(--line-height-body) * 1em); /* taille relative */
  }

  /* Texte en gras */
  .Prose :global(b),
  .Prose :global(strong) {
    font-weight: var(--font-weight-body-bold);
  }
  .Prose :global(b::before),
  .Prose :global(strong::after) {
    content: var(--balisage-gras);
    color: var(--neutre);
    font-style: normal;
  }

  /* Texte en italique */
  .Prose :global(i),
  .Prose :global(em) {
    font-style: italic;
  }

  .Prose :global(i::before),
  .Prose :global(em::after) {
    content: var(--balisage-italique);
    color: var(--neutre);
    font-style: normal;
  }

  /* Ancres (liens) */
  .Prose :global(a) {
    color: var(--couleur-ancres);
    text-decoration: underline;
    text-decoration-color: currentColor;
  }
  .Prose :global(a:hover) {
    text-decoration-color: transparent;
  }
  .Prose :global(a):active {
    color: var(--couleur-ancres-clic);
  }

  .Prose :global(a::before),
  .Prose :global(a::after) {
    color: var(--neutre);
  }
  .Prose :global(a::before) {
    margin-inline-end: .075em;
    content: var(--balisage-a-avant);

  }
  .Prose :global(a::after) {
    margin-inline-start: .075em;
    content: var(--balisage-a-apres);
  }

  /* Surlignage */
  .Prose :global(mark) {
    background-color: var(--couleur-fond-surbrillance);
    color: var(--couleur-texte-surbrillance);
  }

  .Prose :global(mark::before),
  .Prose :global(mark::after) {
    color: var(--neutre);
  }
  .Prose :global(mark::before) {
    content: var(--balisage-mark-avant);
  }
  .Prose :global(mark::after) {
    content: var(--balisage-mark-apres);
  }

  /* Texte inséré */
  .Prose :global(ins) {
    text-decoration: none;
    background-color: var(--accent);

  }
  .Prose :global(ins::before),
  .Prose :global(ins::after) {
    color: var(--neutre);
  }
  .Prose :global(ins::before) {
    content: var(--balisage-ins-avant);
  }
  .Prose :global(ins::after) {
    content: var(--balisage-ins-apres);
  }

  /* Texte supprimé */
  .Prose :global(del) {
    color: var(--neutre);
    text-decoration: none;
  }

  .Prose :global(del::before),
  .Prose :global(del::after) {
    color: var(--neutre);
    text-decoration: none;
  }

  .Prose :global(del::before) {
    content: var(--balisage-del-avant);
  }
  .Prose :global(del::after) {
    content: var(--balisage-del-apres);
  }

  /* En-têtes */
  .Prose :global(h1:not(:first-child)),
  .Prose :global(h2:not(:first-child)),
  .Prose :global(h3:not(:first-child)),
  .Prose :global(h4:not(:first-child)),
  .Prose :global(h5:not(:first-child)),
  .Prose :global(h6:not(:first-child)) {
      /*
      Ajouter de l’espace au-dessus, *sauf s’il s’agit du premier élément*.
      Avec la fonction `calc`, nous utilisons une valeur minimale (1rem)
      et relative (em) afin de pondérer cet espace vertical
      */
      margin-block-start: calc(1.5rem + .5em);
  }
  .Prose :global(h1),
  .Prose :global(h2),
  .Prose :global(h3),
  .Prose :global(h4),
  .Prose :global(h5),
  .Prose :global(h6) {
    /* Ajouter de l’espace en-dessous */
    margin-block-end: .75rem;

    /* Typo d’en-tête */
    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
  }

  /* Styles spécifiques à chaque en-tête */
  .Prose :global(h1) {
    font-size: var(--font-size-h1);
    letter-spacing: var(--interlettrage-tres-serre);
  }
  .Prose :global(h2) {
    font-size: var(--font-size-h2);
    letter-spacing: var(--interlettrage-serre);
  }
  .Prose :global(h3) {
    font-size: var(--font-size-h3);
    letter-spacing: var(--interlettrage-serre);
  }
  .Prose :global(h4) {
    font-size: var(--font-size-h4);
    letter-spacing: var(--interlettrage-serre);
  }
  .Prose :global(h5) {
    font-size: var(--font-size-h5);
    letter-spacing: var(--interlettrage-serre);
  }
  .Prose :global(h6) {
    font-size: var(--font-size-h6);
  }

  /* Blocs de citation */
  .Prose :global(blockquote) {
    --blockquote-line-height-: var(--line-height-body);
    --blockquote-font-size: var(--font-size-small);
    margin: 1.5rem 0;
    color: var(--neutre);
    padding-inline-start: 2.5em;
    position: relative;
    overflow: hidden;
  }
  .Prose :global(blockquote p:not(:last-child)) {
    margin-inline-end: calc(var(--blockquote-line-height) * var(--blockquote-font-size));
  }

  .Prose :global(blockquote::before) {
    content: '>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>';
    position: absolute;
    white-space: pre;
    left: 1.125rem;
    top: 0;
  }

  .Prose :global(blockquote + figcaption) {
    margin: -.5rem 2.5rem 0;
  }

  .Prose :global(blockquote + figcaption::before) {
    content: '--';
    margin-inline-end: .35em;
  }

  /* Listes */
  .Prose :global(ol),
  .Prose :global(ul) {
    padding-inline: 0;
  }
  .Prose :global(ol) {
    list-style-type: decimal;
    list-style-position: outside;
  }
  .Prose :global(ol > li),
  .Prose :global(ul > li) {
    margin-block: 0;
    margin-inline-start: 2em; /* `em` proportionnelle */
  }
  .Prose :global(ol > li::marker),
  .Prose :global(ul > li::marker) {
    color: var(--neutre);
  }

  /* Code */
  .Prose :global(code) {
    padding: .125rem;
    color: var(--couleur-code);
  }
  .Prose :global(code::before) {
    content: var(--balisage-code-avant);
  }
  .Prose :global(code::after) {
    content: var(--balisage-code-apres);
  }
  .Prose :global(code) {
    padding: .25rem;

    font-size: .875em; /* proportionnelle au contexte */
    background-color: var(--couleur-fond-code);
    color: var(--couleur-texte-code);
    border-radius: .25rem;
  }
  /* Annuler l’effet sur la balise `code` seule */
  .Prose :global(> code::before),
  .Prose :global(> code::after) {
    content: none;
  }
  /* Bloc de code */
  .Prose :global(pre) {
    padding: 0; /* le padding est établi sur l'élément `code` */
    border-radius: .3rem;

    /* Autoriser le défilement horizontal lorsque le texte déborde */
    overflow-x: auto;

    background-color: var(--couleur-fond-profond);
    font-family: var(--font-mono);
    font-weight: var(--font-weight-mono);
    font-size: var(--font-size-base);
  }
  .Prose :global(pre > code) {
    display: block;
    padding-inline: 1.125rem;
    padding-block: 1.125rem;

    background-color: var(--couleur-fond-profond);
    color: var(--couleur-texte-code);
    white-space: pre;
    border-radius: 0; /* rétablir */
  }

  /* Règles horizontales */
  .Prose :global(hr) {
    margin-block: 3rem;
    height: 1px;

    border: 0;
    background-color: var(--accent-sombre);
  }

  /* Tables */
  .Prose :global(table) {
    border: 0;
    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-small);
  }
  .Prose :global(th) {
    font-weight: var(--font-weight-details-bold);
  }
  .Prose :global(th),
  .Prose :global(td) {
    padding-inline: 0;
    padding-block: .5rem;

    border: 0;
    text-align: start;
  }

  .Prose :global(tr) {
    border: 0;
    border-block-end: 1px solid var(--accent-sombre);
  }

  /* Images */
  .Prose :global(img) {
    max-width: 100%;
    height: auto;
  }

</style>
