<script>
  import { fade, fly, slide } from 'svelte/transition';
  import { beforeNavigate, afterNavigate } from '$app/navigation';
  import ChevronRight from '$lib/components/icons/ChevronRight.svelte';
  import XMark from '$lib/components/icons/XMark.svelte';
  import { page } from '$app/stores';
  import { expoOut } from 'svelte/easing';

  /**
   * @type {Boolean}
   */
  export let show = false;

  /**
   * @type {Array<{label: string; url: string; target?: string; items?: Array<{label: string; url: string; target?: string;}>; }>}
   */
  export let items = [];

  /**
   * @type {{ url: string; }}
   */
  export let headerLogo = { url: '' };

  // vars
  /**
   * @type {Array<Boolean>}
   */
  let showDropdown = new Array(items.length).fill(false);

  /**
   * Permet d'afficher le statut du chargement
   * @type {Boolean}
   */
  let loading = false;

  /**
   * Fonction déclenchée sur l'écouteur d'événement 'click'
   * 
   * @param {MouseEvent} ev
   * @param {Number} index
   */
  const clickDropdownTrigger = function (ev, index) {
    showDropdown[index] = !showDropdown[index];
  }

  /**
   * Indique si la page actuelle correspond au chemin donné
   * 
   * @param {String} itemPath
   * @returns {Boolean}
   */
  function isCurrentPage(itemPath) {
    return $page.url.pathname === itemPath;
  }

  beforeNavigate(() => {
    loading = true;
    show = false; // close as soon as loading starts
  });
  afterNavigate(() => {
    if (show) {
      show = false;
    }
    loading = false;
  });
</script>

{#if show}
<div
  class="SideMenu"
  class:loading={loading}
>
  <!-- svelte-ignore a11y-no-static-element-interactions a11y-click-events-have-key-events -->
  <div
    class="SideMenu__backdrop"
    transition:fade|local={{ duration: 300 }}
    on:click={() => show = !show}
  ></div>

  <div
    class="SideMenu__inner"
    in:fly|local={{ duration: 750, x: -800, delay: 400, opacity: 1, easing: expoOut }}
    out:fade|local={{ duration: 200 }}
  >
    <header class="SideMenu__header">
      {#if headerLogo}
        <img
          src="{headerLogo.url}"
          alt=""
          class="SideMenu__logo"
          >
      {/if}

      <button
        class="SideMenu__toggle"
        on:click={() => show = false}
      >
        <span class="SideMenu__toggle-icon"><XMark size={40} /></span>
      </button>
    </header>

    <ul class="SideMenu__list">
      {#each items as menuItem, index}
        {#if menuItem?.items?.length}
          <li
            class="SideMenu__item has-dropdown"
          >
            <button
              class="SideMenu__anchor"
              aria-haspopup="true"
              on:click={ev => clickDropdownTrigger(ev, index)}
            >
              <span class="SideMenu__anchor-label">{menuItem.label}</span>
              <span
                class="SideMenu__anchor-icon"
                class:rotated={showDropdown[index]}
              >
                <ChevronRight size={20} />
              </span>
            </button>

            {#if showDropdown[index]}
              <ul
                class="SideMenu__dropdown"
                transition:slide|local={{ duration: 200 }}
              >
                {#each menuItem.items as subMenuItem}
                  <li class="SideMenu__dropdown-item">
                    <a
                      class="SideMenu__dropdown-anchor"
                      class:active={isCurrentPage(subMenuItem.url)}
                      href="{subMenuItem.url}"
                    >{subMenuItem.label}</a>
                  </li>
                {/each}
              </ul>
            {/if}
          </li>
        {:else}
          <li
            class="SideMenu__item"
          >
            <a
              class="SideMenu__anchor"
              href="{menuItem.url}"
            >{menuItem.label }</a>
          </li>
        {/if}
      {/each}
    </ul>
  </div>
</div>
{/if}

<style>
  .SideMenu {
    --SideMenu-display: block;
    --SideMenu-background-color: var(--couleur-fond);
    --SideMenu-text-color: var(--marine-200);
    --SideMenu-hover-text-color: var(--marine-50);
    --SideMenu-border-color: var(--accent-sombre);

    display: var(--SideMenu-display);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
  
  @media (min-width: 62rem) {
    .SideMenu {
      --SideMenu-display: none;
    }
  }

  .SideMenu.loading {
    cursor: wait;
  }

  .SideMenu__backdrop {
    z-index: 99;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
  }

  .SideMenu__inner {
    height: 100%;
    width: 18rem;
    max-width: 85%;

    overflow: auto;
    background-color: var(--SideMenu-background-color);
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 100;

    border-inline-end: 1px solid var(--SideMenu-border-color);
  }

  .SideMenu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    border-block-end: 1px solid var(--SideMenu-border-color);
  }

  .SideMenu__logo {
    margin: .75rem 1rem;
    width: 100%;
    max-width: 18rem;
    height: auto;
    display: block;
  }

  .SideMenu__toggle {
    margin-inline-start: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 1;

    background-color: transparent;
    color: var(--SideMenu-text-color);
    border: 0;
    border-inline-start: 1px solid var(--SideMenu-border-color);
    font-size: .875rem;
    text-transform: uppercase;
    appearance: none;
    outline: 0;
    cursor: pointer;

    line-height: 1;

    transition: .15s color;
  }

  .SideMenu__toggle:hover {
    color: var(--SideMenu-hover-text-color);
  }

  .SideMenu__toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    transition: .15s transform;
  }

  .SideMenu__anchor-label {
    order: 2;
  }

  .SideMenu__list {
    margin-block-start: 1rem;
    margin-block-end: .5rem;
    margin-inline: .5rem;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .75rem;

    list-style: none outside none;
  }

  .SideMenu__dropdown {
    margin: 0;
    padding: 0;
    
    list-style: none outside none;
    /* when dropdown is expanded, include bottom border to match dropdown header */
    /* border-block-end: 1px solid var(--SideMenu-border-color); */
  }

  /* .SideMenu__dropdown-item {} */
  .SideMenu__dropdown-item {
    border-block-start: 1px solid var(--SideMenu-border-color);
  }
  .SideMenu__dropdown-anchor {
    padding-block: 1rem;
    padding-inline: 2.75rem .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--SideMenu-text-color);
    font-size: .875rem;
    text-decoration: none;

    transition: .15s background-color;
  }
  .SideMenu__dropdown-anchor.active {
    box-shadow: 8px 0 0 -4px inset rgba(0, 0, 0, .15);
  }

  .SideMenu__dropdown-anchor:hover {
    color: var(--SideMenu-hover-text-color);
  }

  .SideMenu__item {
    border: 1px solid var(--SideMenu-border-color);
  }

  .SideMenu__anchor {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    color: var(--SideMenu-text-color);
    border: 0;
    appearance: none;
    width: 100%;
    outline: 0;
    text-decoration: none;
    cursor: pointer;

    transition: .15s color;
  }
  .SideMenu__anchor:hover {
    color: var(--SideMenu-hover-text-color);
  }
  .SideMenu__anchor-icon {
    margin-inline-end: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    transition: .1s transform;
  }
  .SideMenu__anchor-icon.rotated {
    transform: rotate(90deg);
  }
</style>
