<script>
  /**
   * Section destinée à accueillir des blocs pleine largeur (composant `WideListItem`).
   */
</script>

<section class="WideListSection">
  
  <header class="WideListSection__header">
    <slot name="header" />
  </header>

  <div class="WideListSection__inner">
    <slot />
  </div>

  <footer class="WideListSection__footer">
    <slot name="footer" />
  </footer>
  
</section>

<style>
  .WideListSection {
    margin-block-start: -1px; /* compenser pour bordure */
    border-block: 1px solid var(--accent-sombre);
  }

  .WideListSection__header {
    padding-block: 1rem;
    padding-inline: 1rem;

    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
    font-size: var(--font-size-medium);
    border-block-end: 1px solid var(--accent-sombre);
  }
  .WideListSection__header:empty {
    display: none;
  }
</style>