<script>
  /**
   * Élément enfant pour le composant `WideListSection`.
   */

  import WireframeImage from './WireframeImage.svelte';
  import WireframePortrait from './WireframePortrait.svelte';

  /** @type {string | null} */
  export let imageSrc = null;

  /** @type {string | null} */
  export let title = null;

  /** @type {string | null} */
  export let eyebrow = null;

  /** @type {string | null} */
  export let url = null;

</script>

<article class="WideListItem">
  <header class="WideListItem__header">
    <a
      href={url}
      class=WideListItem__header-anchor
    >
      {#if imageSrc}
        <img
          src="{imageSrc}"
          class="WideListItem__image"
          alt=""
        />
      {:else}
        <div class="WideListItem__placeholder">
          <WireframePortrait />
        </div>
      {/if}
    </a>
  </header>

  <div class="WideListItem__body">
    {#if eyebrow}
      <div class="WideListItem__eyebrow">
        {eyebrow || ''}
      </div>
    {/if}

    {#if title}
      <h3 class=WideListItem__title>
        {#if url}
          <a
            href={url}
            class="WideListItem__title-anchor"
          >
            <!-- @html au cas où le titre contiendrait p. ex. italiques <i> -->
            {@html title}
          </a>
        {:else}
          {@html title}
        {/if}
      </h3>
    {/if}

    <div class="WideListItem__content">
      <slot />
    </div>
  </div>

  <footer class="WideListItem__footer">
    <slot name="footer" />
  </footer>
</article>

<style>
  .WideListItem {
    --WideListItem-spacing-y: 1rem;
    --WideListItem-spacing-x: .75rem;
    --WideListItem-header-spacing-x: .75rem;
    --WideListItem-columns: auto;
    --WideListItem-max-height-image: 14rem;
    /* hauteur maximale de la région 'image' */
    --WideListItem-rows: var(--WideListItem-max-height-image) auto auto;
    --WideListItem-areas:
      "header"
      "body"
      "footer"
    ;
    --WideListItem-header-flex-alignment: flex-start;

    display: grid;
    /* espacement géré avec `padding`s intérieurs sur header/body/footer */
    grid-template-columns: var(--WideListItem-columns);
    grid-template-areas: var(--WideListItem-areas);

    margin-block-start: -1px; /* compenser pour bordure */
    border-block-start: 1px solid var(--accent-sombre);
  }
  @media (min-width: 36rem) {
    .WideListItem {
      --WideListItem-columns: 30% 1fr;
      --WideListItem-rows: auto auto;
      --WideListItem-areas:
        "header  body"
        "header  footer"
      ;
      --WideListItem-header-flex-alignment: center;
    }
  }
  @media (min-width: 60rem) {
    .WideListItem {
      --WideListItem-header-spacing-x: 1.25rem;
    }
  }
  @media (min-width: 72rem) {
    .WideListItem {
      --WideListItem-header-spacing-x: 1.75rem;
    }
  }

  .WideListItem__header {
    grid-area: header;

    padding-block: var(--WideListItem-spacing-y);
    padding-inline: var(--WideListItem-header-spacing-x);

    display: flex;
    flex-direction: column;
    align-items: var(--WideListItem-header-flex-alignment);
    justify-content: center;
  }

  .WideListItem__header-anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    object-fit: contain;
    object-position: center;

    color: inherit;
    text-decoration: none;
    opacity: 1;
    transition: opacity .3s;

  }

  .WideListItem__header-anchor:hover {
    opacity: .85;
  }

  .WideListItem__image {
    width: auto;
    max-width: 100%;
    max-height: 14rem;
  }

  /* pour contenir cadre svg */
  .WideListItem__placeholder {
    height: 100%;
    width: 100%;
    max-height: var(--WideListItem-max-height-image);

    object-fit: contain;
    overflow: hidden;
  }
  .WideListItem__placeholder :global(svg) {
    height: 100%;
    width: 100%;
  }

  .WideListItem__eyebrow {
    margin-block-end: 1.25rem;
    padding-block-end: .25rem; /* pour bordure */
    display: inline-block;
    align-self: flex-start;
    
    font-family: var(--font-details);
    font-weight: var(--font-weight-details);
    font-size: var(--font-size-xsmall);
    color: var(--azur-aoste);
    text-transform: uppercase;
    letter-spacing: 0.035em;
    border-bottom: 1px dotted currentColor;
  }
  .WideListItem__eyebrow::before {
    content: '/* ';
  }
  .WideListItem__eyebrow::after {
    content: ' */';
  }

  .WideListItem__title {
    margin-block: 0 .75rem;

    font-family: var(--font-headings);
    font-weight: var(--font-weight-headings);
    line-height: var(--line-height-headings);
    font-size: var(--font-size-medium);
  }

  .WideListItem__title-anchor {
    color: inherit;
    text-decoration: none;
    transition: color .15s;
  }
  .WideListItem__title-anchor:hover {
    color: var(--couleur-ancres);
  }

  .WideListItem__body {
    grid-area: body;

    padding-block: var(--WideListItem-spacing-y);
    padding-inline: var(--WideListItem-spacing-x);
  }

  .WideListItem__footer {
    grid-area: footer;

    padding-block: var(--WideListItem-spacing-y);
    padding-inline: var(--WideListItem-spacing-x);
  }
  .WideListItem__footer:empty {
    display: none;
  }
</style>