<svg version="1.1" viewBox="0 0 600 315" xmlns="http://www.w3.org/2000/svg">
  <path d="m0 0v315h600v-315zm2 2h596v311h-596z" color="currentColor" fill="currentColor" stroke-linecap="round" style="-inkscape-stroke:none;paint-order:stroke markers fill"/>
  <path d="M 598,313 2,2" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
  <path d="M 2,313 598,2" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
 </svg>
 