<svg version="1.1" viewBox="0 0 400 300" xmlns="http://www.w3.org/2000/svg">
  <path d="m0 0v300h400v-300zm2 2h396v296h-396z" color="currentColor" fill="currentColor" stroke-linecap="round" style="-inkscape-stroke:none;paint-order:stroke markers fill"/>
  <path d="M 399,299 1,1" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
  <path d="M 1,299 399,1" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
 </svg>
