<svg version="1.1" viewBox="0 0 300 400" xmlns="http://www.w3.org/2000/svg">
  <path d="m0 0v400h300v-400zm2 2h296v396h-296z" color="currentColor" fill="currentColor" stroke-linecap="round" style="-inkscape-stroke:none;paint-order:stroke markers fill"/>
  <path d="M 298,398 2,2" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
  <path d="M 2,398 298,2" fill="none" stroke="currentColor" stroke-width="2" style="paint-order:stroke markers fill"/>
 </svg>
 